<div class="dmFooterContainer flex_hfcontainer">
  <div id="flex-footer">
    <div data-layout-section="" data-auto="flex-section" id="1836428912" data-flex-id="23725394">
      <div class="flex-widgets-container" id="1422630508"></div>
      <section id="0395bca9" class="flex-element section" data-auto="flex-element-section">
        <div id="b57c8772" class="flex-element grid" data-auto="flex-element-grid" data-layout-grid="">
          <div id="03b9d444" class="flex-element group" data-auto="flex-element-group">
            <div id="5c6391d3" class="flex-element group" data-auto="flex-element-group">
              <div id="widget_ao0" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="image" data-keep-proportion="true" data-external-id="1804283178">
                <div class="imageWidget align-center" data-element-type="image" data-widget-type="image" id="1804283178"> <a href="/" id="1144918472"><img src="/assets/img/bang-bang-logo-header-1920w.png" alt="Car Detailing Near Me" id="1127852439" class="" width="1630" height="900" data-dm-image-path="/assets/img/bang-bang-logo-header.png" onerror="handleImageLoadError(this)" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div data-flex-id="0faa1034" data-auto="flex-section" id="1431687500" data-layout-section="" data-page-element-type="section" data-page-element-id="1170576941">
      <div class="flex-widgets-container" id="1589170975"></div>
      <section id="d2f548c0" class="flex-element section" data-auto="flex-element-section">
        <div id="8c109f68" class="flex-element grid" data-auto="flex-element-grid" data-layout-grid="">
          <div id="aeb1341c" class="flex-element group" data-auto="flex-element-group">
            <div id="group_ho3" class="flex-element group" data-auto="flex-element-group">
              <div id="4dcafe72" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="paragraph" data-external-id="1629575435">
                <div class="dmNewParagraph" data-element-type="paragraph" data-version="5" id="1629575435" style="">
                  <p class="m-size-19 m-text-align-center t-size-20 text-align-left size-24"><strong style="color:var(--color_7);font-weight:bold;display:unset;font-family:Raleway, 'Raleway Fallback';" class="m-font-size-19 t-font-size-20 font-size-24">Services</strong></p>
                </div>
              </div>
              <div id="widget_g4o" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="ONELinksMenu" data-external-id="1392233814">
                <nav class="u_1392233814 unifiednav_vertical effect-text-fill main-navigation unifiednav dmLinksMenu" role="navigation" layout-main="vertical_nav_layout_4" layout-sub="" data-show-vertical-sub-items="HOVER" id="1392233814" dmle_extension="onelinksmenu" data-element-type="onelinksmenu" data-logo-src="" alt="" data-nav-structure="VERTICAL" wr="true" icon="true" surround="true" adwords="" navigation-id="unifiedNav">
                  <ul role="menubar" class="unifiednav__container  " data-auto="navigation-pages">
                    <li role="menuitem" class=" unifiednav__item-wrap " data-auto="more-pages" data-depth="0"> <a href="/full-exterior-and-interior-detail/" class="unifiednav__item{% if page.url ==  '/full-exterior-and-interior-detail/' %} dmNavItemSelected{% endif %}" target="" data-target-page-alias="full-exterior-and-interior-detail"> <span class="nav-item-text " data-link-text="Full Exterior and Interior Detail" data-auto="page-text-style">Full Exterior and Interior Detail<span class="icon icon-angle-down" data-hidden-on-mobile="" data-hidden-on-desktop="" data-hidden-on-tablet=""></span>
                        </span>
                      </a>
                    </li>
                    <li role="menuitem" class=" unifiednav__item-wrap " data-auto="more-pages" data-depth="0"> <a href="/ceramic-coating/" class="unifiednav__item{% if page.url ==  '/ceramic-coating/' %} dmNavItemSelected{% endif %}" target="" data-target-page-alias="motorcycles-detailing"> <span class="nav-item-text " data-link-text="Ceramic Coating" data-auto="page-text-style">Ceramic Coating<span class="icon icon-angle-down" data-hidden-on-mobile="" data-hidden-on-desktop="" data-hidden-on-tablet=""></span>
                        </span>
                      </a>
                    </li>
                    <li role="menuitem" class=" unifiednav__item-wrap " data-auto="more-pages" data-depth="0"> <a href="/paint-and-trim-restoration/" class="unifiednav__item{% if page.url ==  '/paint-and-trim-restoration/' %} dmNavItemSelected{% endif %}" target="" data-target-page-alias="paint-and-trim-restoration"> <span class="nav-item-text " data-link-text="Paint Correction" data-auto="page-text-style">Paint Correction<span class="icon icon-angle-down" data-hidden-on-mobile="" data-hidden-on-desktop="" data-hidden-on-tablet=""></span>
                        </span>
                      </a>
                    </li>
                    <li role="menuitem" class=" unifiednav__item-wrap " data-auto="more-pages" data-depth="0"> <a href="/vinyl-removal/" class="unifiednav__item{% if page.url ==  '/vinyl-removal/' %} dmNavItemSelected{% endif %}" target="" data-target-page-alias="vinyl-removal"> <span class="nav-item-text " data-link-text="Vinyl Removal" data-auto="page-text-style">Vinyl Removal<span class="icon icon-angle-down" data-hidden-on-mobile="" data-hidden-on-desktop="" data-hidden-on-tablet=""></span>
                        </span>
                      </a>
                    </li>
                    <li role="menuitem" class=" unifiednav__item-wrap " data-auto="more-pages" data-depth="0"> <a href="/boats-detailing/" class="unifiednav__item{% if page.url ==  '/boats-detailing/' %} dmNavItemSelected{% endif %}" target="" data-target-page-alias="boats-detailing"> <span class="nav-item-text " data-link-text="Boats Detailing" data-auto="page-text-style">Boats Detailing<span class="icon icon-angle-down" data-hidden-on-mobile="" data-hidden-on-desktop="" data-hidden-on-tablet=""></span>
                        </span>
                      </a>
                    </li>
                    <li role="menuitem" class=" unifiednav__item-wrap " data-auto="more-pages" data-depth="0"> <a href="/rvs-detailing/" class="unifiednav__item{% if page.url ==  '/rvs-detailing/' %} dmNavItemSelected{% endif %}" target="" data-target-page-alias="rvs-detailing"> <span class="nav-item-text " data-link-text="RVs Detailing" data-auto="page-text-style">RVs Detailing<span class="icon icon-angle-down" data-hidden-on-mobile="" data-hidden-on-desktop="" data-hidden-on-tablet=""></span>
                        </span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div id="47fd1300" class="flex-element group" data-auto="flex-element-group">
              <div id="widget_aot" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="paragraph" data-external-id="1024054089">
                <div class="dmNewParagraph" data-element-type="paragraph" data-version="5" id="1024054089" style="">
                  <p class="m-text-align-center m-size-19 t-size-20 text-align-left size-24"><strong style="color:var(--color_7);font-weight:bold;display:unset;font-family:Raleway, 'Raleway Fallback';" class="m-font-size-19 t-font-size-20 font-size-24">Contact Info</strong></p>
                </div>
              </div>
              <div id="6b90a366" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="paragraph" data-diy-element="" data-external-id="1614115449">
                <div class="u_1614115449 dmNewParagraph" data-element-type="paragraph" data-version="5" id="1614115449" data-binding="W3siYmluZGluZ05hbWUiOiJ0ZXh0IiwidmFsdWUiOiJjb250ZW50X2xpYnJhcnkuZ2xvYmFsLnBob25lLnByaW1hcnkgcGhvbmUifV0=" new-inline-bind-applied="true" data-diy-text="" style="">
                  <p class="text-align-left t-size-16 m-size-16 size-18 m-text-align-center"><span class="font-size-18 t-font-size-16 m-font-size-16" style="color: rgb(255, 255, 255); display: initial;"><span class="inline-data-binding" data-encoded-value="KDQwNykgODc4LTk5Njc=" data-inline-binding="content_library.global.phone.phone" data-inline-binding-encoded="Y29udGVudF9saWJyYXJ5Lmdsb2JhbC5waG9uZS5waG9uZQ=="><a class="inlineBindingLink" target="_blank" href="tel:(407) 878-9967">(407) 878-9967</a></span></span></p>
                </div>
              </div>
              <div id="29a98df1" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-diy-element="" data-widget-type="paragraph" data-external-id="1247991414">
                <div class="u_1247991414 dmNewParagraph" data-element-type="paragraph" data-version="5" id="1247991414" data-binding="W3siYmluZGluZ05hbWUiOiJ0ZXh0IiwidmFsdWUiOiJjb250ZW50X2xpYnJhcnkuZ2xvYmFsLnBob25lLnByaW1hcnkgcGhvbmUifV0=" new-inline-bind-applied="true" data-diy-text="">
                  <p class="t-size-16 m-size-16 text-align-left size-18 m-text-align-center"><span class="font-size-18 t-font-size-16 m-font-size-16" style="color: rgb(255, 255, 255); display: initial;"><span class="inline-data-binding" data-encoded-value="YmFuZ2JhbmdhdXRvZGV0YWlsaW5nQGdtYWlsLmNvbQ==" data-inline-binding="content_library.global.email.email" data-inline-binding-encoded="Y29udGVudF9saWJyYXJ5Lmdsb2JhbC5lbWFpbC5lbWFpbA=="><a class="inlineBindingLink" target="_blank" href="mailto:bangbangautodetailing@gmail.com">bangbangautodetailing@gmail.com</a></span></span></p>
                </div>
              </div>
            </div>
            <div id="group_b8j" class="flex-element group" data-auto="flex-element-group">
              <div id="widget_mi5" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="paragraph" data-external-id="1900298088">
                <div class="dmNewParagraph" data-element-type="paragraph" data-version="5" id="1900298088" style="">
                  <p class="text-align-left m-size-19 t-size-20 m-text-align-center size-24"><strong style="color:var(--color_7);font-weight:bold;display:unset;font-family:Raleway, 'Raleway Fallback';" class="m-font-size-19 t-font-size-20 font-size-24">Business Hours</strong></p>
                </div>
              </div>
              <div id="16ff6318" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="hoursOfOperation" data-external-id="1229542729">
                <div class="u_1229542729 default dmHoursOfOperation" id="1229542729" dmle_extension="open_hours" data-element-type="open_hours" data-binding="W3siYmluZGluZ05hbWUiOiJidXNpbmVzc19ob3VycyIsInZhbHVlIjoiY29udGVudF9saWJyYXJ5Lmdsb2JhbC5idXNpbmVzc19ob3VycyJ9XQ==" time_format="12" wr="true" displaytitle="false" lang="en" forcedisplay="false" icon="true" surround="true" adwords="">
                  <dl class="open-hours-data">
                    <div class="open-hours-item">
                      <dt day="0">Mon - Sat</dt>
                      <dd> <time>9:00 am</time>
                        - <time>6:00 pm</time>
                      </dd>
                    </div>
                    <div class="open-hours-item">
                      <dt day="6">Sunday</dt>
                      <dd>Closed</dd>
                    </div>
                  </dl>
                </div>
              </div>
              <div id="widget_gb6" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="socialhub" data-external-id="1823563271">
                <div class="align-center text-align-center u_1823563271 dmSocialHub gapSpacing" id="1823563271" dmle_extension="social_hub" data-element-type="social_hub" wr="true" networks="" icon="true" surround="true" adwords="">
                  <div class="socialHubWrapper">
                    <div class="socialHubInnerDiv "> <a href="https://facebook.com/BangBangdetail" target="_blank" dm_dont_rewrite_url="true" aria-label="facebook" onclick="dm_gaq_push_event &amp;&amp; dm_gaq_push_event(&apos;socialLink&apos;, &apos;click&apos;, &apos;Facebook&apos;)"> <span class="dmSocialFacebook dm-social-icons-facebook oneIcon socialHubIcon style5" aria-hidden="true" data-hover-effect=""></span>
                      </a>
                      <a href="https://instagram.com/bangbangdetail/" target="_blank" dm_dont_rewrite_url="true" aria-label="instagram" onclick="dm_gaq_push_event &amp;&amp; dm_gaq_push_event(&apos;socialLink&apos;, &apos;click&apos;, &apos;Instagram&apos;)"> <span class="dmSocialInstagram dm-social-icons-instagram oneIcon socialHubIcon style5" aria-hidden="true" data-hover-effect=""></span>
                      </a>
                      <a href="https://youtube.com/@bangbangdetail6958" target="_blank" dm_dont_rewrite_url="true" aria-label="youtube" onclick="dm_gaq_push_event &amp;&amp; dm_gaq_push_event(&apos;socialLink&apos;, &apos;click&apos;, &apos;Youtube&apos;)"> <span class="dmSocialYoutube dm-social-icons-youtube oneIcon socialHubIcon style5" aria-hidden="true" data-hover-effect=""></span>
                      </a>
                      <a href="https://www.google.com/maps/place/Bang+Bang+Auto+Detailing/@28.591304,-81.3208945,10z/data=!3m1!4b1!4m6!3m5!1s0xa647a3cc9f0eb10d:0xe070d908de665010!8m2!3d28.591304!4d-81.3208945!16s%2Fg%2F11rdz_zck0?entry=ttu&amp;g_ep=EgoyMDI1MDIxMC4wIKXMDSoASAFQAw%3D%3D" target="_blank" dm_dont_rewrite_url="true" aria-label="google_my_business" onclick="dm_gaq_push_event &amp;&amp; dm_gaq_push_event(&apos;socialLink&apos;, &apos;click&apos;, &apos;GoogleMyBusiness&apos;)"> <span class="dmSocialGoogleMyBusiness dm-social-icons-google-my-business oneIcon socialHubIcon style5" aria-hidden="true" data-hover-effect=""></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div data-layout-section="" data-auto="flex-section" id="1112344585" data-flex-id="036a4544">
      <div class="flex-widgets-container" id="1107387766"></div>
      <section id="60cec34f" class="flex-element section" data-auto="flex-element-section">
        <div id="5dac85eb" class="flex-element grid" data-auto="flex-element-grid" data-layout-grid="">
          <div id="6cef9f03" class="flex-element group" data-auto="flex-element-group">
            <div id="35daa636" class="flex-element group" data-auto="flex-element-group">
              <div id="widget_f33" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="custom" data-external-id="1924190849">
                <div class="widget-1f5975 u_1924190849 dmCustomWidget" data-lazy-load="" data-title="" id="1924190849" dmle_extension="custom_extension" data-element-type="custom_extension" icon="false" surround="false" data-widget-id="1f5975986930429f819d4cd2154b5c4a" data-widget-version="22" data-widget-config="eyJjb3B5cmlnaHRUZXh0IjoiPHAgY2xhc3M9XCJydGVCbG9ja1wiPkFsbCBSaWdodHMgUmVzZXJ2ZWQgfCDCoEJhbmcgQmFuZyBBdXRvIERldGFpbGluZzwvcD4ifQ==">
                  <div class="copyright">
                    <div>&copy; {{ "now" | date: "%Y" }}&nbsp;</div>
                    <div>
                      <p class="rteBlock">All Rights Reserved | &nbsp;Bang Bang Auto Detailing</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
