<div id="group_vod" class="flex-element group" data-auto="flex-element-group">
  <div id="widget_gd7" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="photoGallery" data-external-id="1614807825">
    <div class="dmPhotoGallery newPhotoGallery dmPhotoGalleryResp u_1614807825 hasShadow text-layout-over captionAlignment-undefined photo-gallery-done" galleryoptionsparams="{thumbnailsPerRow: 3, rowsToShow: 3, imageScaleMethod: true}" data-desktop-layout="asymetric3" data-desktop-columns="2" data-element-type="dPhotoGalleryId" data-desktop-text-layout="over" id="1614807825" data-placeholder="false" data-rows-to-show="100" data-image-hover-effect="zoomout" editablewidget="true" data-widget-type="photoGallery">
      <ul class="dmPhotoGalleryHolder clearfix gallery shadowEffectToChildren gallery4inArow" id="1662776327">
      </ul>
      <div class="layout-container asymetric3">
        <div class="photogallery-row" data-index="0">
          <div class="photogallery-column column-2" data-index="0" style="width: 40%;">
            <li class="photoGalleryThumbs asymetric-big-image animated null" id="1957278976" data-index="0">
              <div class="thumbnailInnerWrapper" style="opacity: 1;">
                <div class="image-container revealed" id="1408722402">
                  <a data-pswp-width="1920" data-pswp-height="1920" data-dm-multisize-attr="href" href="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+5-1fd84cff.jpg" id="1723368416" style="padding-top: calc(125% + 20px); background-image: url(&quot;https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+5-1fd84cff-1000h.jpg&quot;);">
                    <img irh="" irw="" alt="A car is being washed with soap and water at a car wash." data-src="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+5-1fd84cff-1920w.jpg" id="1901259537" class="" onerror="handleImageLoadError(this)">
                  </a>
                </div>
              </div>
            </li>
          </div>
          <div class="photogallery-column row-direction column-2" data-index="1" style="width: 60%;">
            <li class="photoGalleryThumbs flex column width-50 animated null" id="1699281808" data-index="1">
              <div class="thumbnailInnerWrapper" style="opacity: 1;">
                <div class="image-container revealed" id="1496502378">
                  <a data-pswp-width="1920" data-pswp-height="1920" data-dm-multisize-attr="href" href="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+2-5843f1d5.jpg" id="1797215940" style="padding-top: 83.3333%; background-image: url(&quot;https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+2-5843f1d5-800h.jpg&quot;);">
                    <img irh="" irw="" alt="A white truck covered in foam is parked on the side of the road" data-src="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+2-5843f1d5-1920w.jpg" id="1966880949" class="" onerror="handleImageLoadError(this)">
                  </a>
                </div>
              </div>
            </li>
            <li class="photoGalleryThumbs flex column width-50 animated null" id="1139422449" data-index="2">
              <div class="thumbnailInnerWrapper" style="opacity: 1;">
                <div class="image-container revealed" id="1208638896">
                  <a data-pswp-width="1920" data-pswp-height="1920" data-dm-multisize-attr="href" href="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+1+1-2b489948.jpg" id="1079306195" style="padding-top: 83.3333%; background-image: url(&quot;https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+1+1-2b489948-800h.jpg&quot;);">
                    <img irh="" irw="" alt="A white tesla model s is parked on a brick sidewalk" data-src="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+1+1-2b489948-1920w.jpg" id="1757721762" class="" onerror="handleImageLoadError(this)">
                  </a>
                </div>
              </div>
            </li>
            <li class="photoGalleryThumbs flex column asymetric3-long-image animated null" id="1501443128" data-index="3">
              <div class="thumbnailInnerWrapper" style="opacity: 1;">
                <div class="image-container revealed" id="1733650773">
                  <a data-pswp-width="1920" data-pswp-height="1920" data-dm-multisize-attr="href" href="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+8-0f2c48e8.jpg" id="1636762559" style="padding-top: 41.6667%; background-image: url(&quot;https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+8-0f2c48e8-1400w.jpg&quot;);">
                  </a>
                </div>
              </div>
            </li>
          </div>
        </div>
        {% if page.fileSlug == "see-our-work" %}
        <div class="photogallery-row" data-index="1">
          <div class="photogallery-column row-direction column-2" data-index="0" style="width: 60%;">
            <li class="photoGalleryThumbs flex column width-50 animated null" id="1957278976" data-index="0">
              <div class="thumbnailInnerWrapper" style="opacity: 1;">
                <div class="image-container revealed" id="1408722402">
                  <a data-pswp-width="1920" data-pswp-height="1920" data-dm-multisize-attr="href" href="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+1-eed1e4aa.jpg" id="1723368416" style="padding-top: 83.3333%; background-image: url(&quot;https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+1-eed1e4aa.jpg&quot;);">
                    <img irh="" irw="" alt="Car detailing services" data-src="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+1-eed1e4aa.jpg" id="1901259537" class="" onerror="handleImageLoadError(this)">
                  </a>
                </div>
              </div>
            </li>
            <li class="photoGalleryThumbs flex column width-50 animated null" id="1699281808" data-index="1">
              <div class="thumbnailInnerWrapper" style="opacity: 1;">
                <div class="image-container revealed" id="1496502378">
                  <a data-pswp-width="1920" data-pswp-height="1920" data-dm-multisize-attr="href" href="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+9-9ac81812.jpg" id="1797215940" style="padding-top: 83.3333%; background-image: url(&quot;https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+9-9ac81812.jpg&quot;);">
                    <img irh="" irw="" alt="Car detailing service" data-src="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+9-9ac81812.jpg" id="1966880949" class="" onerror="handleImageLoadError(this)">
                  </a>
                </div>
              </div>
            </li>
            <li class="photoGalleryThumbs flex column asymetric3-long-image animated null" id="1139422449" data-index="2">
              <div class="thumbnailInnerWrapper" style="opacity: 1;">
                <div class="image-container revealed" id="1208638896">
                  <a data-pswp-width="1920" data-pswp-height="1920" data-dm-multisize-attr="href" href="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+6-defb7d8f.jpg" id="1079306195" style="padding-top: 41.6667%; background-image: url(&quot;https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+6-defb7d8f-1400w.jpg&quot;);">
                    <img irh="" irw="" alt="Car detailing" data-src="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+6-defb7d8f.jpg" id="1757721762" class="" onerror="handleImageLoadError(this)">
                  </a>
                </div>
              </div>
            </li>
          </div>
          <div class="photogallery-column column-2" data-index="1" style="width: 40%;">
            <li class="photoGalleryThumbs asymetric-big-image animated null" id="1501443128" data-index="3">
              <div class="thumbnailInnerWrapper" style="opacity: 1;">
                <div class="image-container revealed" id="1733650773">
                  <a data-pswp-width="1920" data-pswp-height="1920" data-dm-multisize-attr="href" href="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+7-3bf872bd.jpg" id="1636762559" style="padding-top: calc(125% + 20px); background-image: url(&quot;https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+7-3bf872bd-1000h.jpg&quot;);">
                    <img irh="" irw="" alt="Auto detailing" data-src="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+7-3bf872bd.jpg" id="1757721762" class="" onerror="handleImageLoadError(this)">
                  </a>
                </div>
              </div>
            </li>
          </div>
        </div>
        {% endif %}
      </div>
      {% if page.fileSlug != "see-our-work" %}
      <div class="photoGalleryViewAll link" isall="true" data-viewall="View more" data-viewless="View less" style="display:none;" id="1020209375"></div>
      {% endif %}
    </div>
  </div>
</div>
