<div id="dmFlexStickyContainer" class="flex_hfcontainer">
  <div id="flex-sticky">
    <div data-layout-section="" data-auto="flex-section" id="1705405434" data-flex-id="3bc0ec44">
      <div class="flex-widgets-container" id="1396044743"></div>
      <section id="5b0b72a8" class="flex-element section" data-auto="flex-element-section" parent-container="flex-sticky">
        <div id="332b0d7c" class="flex-element grid" data-auto="flex-element-grid" data-layout-grid="">
          <div id="616cc8c5" class="flex-element group" data-auto="flex-element-group" parent-container="flex-sticky">
            <div id="d01c6376" class="flex-element group" data-auto="flex-element-group" parent-container="flex-sticky">
              <div id="89c74eee" class="flex-element inner-grid" data-auto="flex-element-inner-grid" parent-container="flex-sticky">
                <div id="widget_flk" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="graphic" data-keep-proportion="true" data-external-id="1476001242">
                  <div class="graphicWidget graphicWidgetV2 graphicWidgetV3 u_1476001242" data-element-type="graphic" data-widget-type="graphic" id="1476001242" data-layout="graphic-style-2" data-hover-effect="zoomout"> <a href="/message-us" id="1806190874" link_type="popup" popup_target="message-us" file="false"> <svg width="100%" height="100%" version="1.1" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" id="1101926061" class="svg u_1101926061" data-icon-custom="true">
                        <path d="m69.68 38.566c1.6992 0 3.0898 1.3867 3.0898 3.0898 0 1.6992-1.3867 3.0898-3.0898 3.0898-1.7109 0-3.0977-1.3867-3.0977-3.0898 0-1.6992 1.3867-3.0898 3.0977-3.0898z"></path>
                        <path d="m30.32 38.566c1.7109 0 3.0977 1.3867 3.0977 3.0898 0 1.6992-1.3867 3.0898-3.0977 3.0898-1.6992 0-3.0898-1.3867-3.0898-3.0898 0-1.6992 1.3867-3.0898 3.0898-3.0898z"></path>
                        <path d="m53.09 41.656c0 4.1172-6.1797 4.1172-6.1797 0 0-4.1211 6.1797-4.1211 6.1797 0"></path>
                        <path d="m98 20.566v41.195c0 6.8984-5.6133 12.512-12.5 12.512h-38.809c-3.7031 0-7.3359 1.2617-10.227 3.5703l-17.008 13.555c-1.1797 0.9375-2.3672 0.42969-2.7031 0.23828-0.33203-0.17578-1.418-0.875-1.2852-2.3789l0.96094-11c0.09375-1.0234-0.26172-2.0469-0.94922-2.7969-0.6875-0.76172-1.6797-1.1914-2.7031-1.1914-5.9492 0-10.777-4.8398-10.777-10.777v-42.926c0-6.8984 5.6133-12.512 12.5-12.512h71c6.8867 0 12.5 5.6133 12.5 12.512zm-21.059 21.09c0-4.0078-3.2539-7.2617-7.2617-7.2617-4.0078 0-7.2734 3.2539-7.2734 7.2617s3.2656 7.2617 7.2734 7.2617c4.0078 0 7.2617-3.2539 7.2617-7.2617zm-19.68 0c0-4.0078-3.2539-7.2617-7.2617-7.2617s-7.2617 3.2539-7.2617 7.2617 3.2539 7.2617 7.2617 7.2617 7.2617-3.2539 7.2617-7.2617zm-19.668 0c0-4.0078-3.2656-7.2617-7.2734-7.2617-4.0078 0-7.2617 3.2539-7.2617 7.2617s3.2539 7.2617 7.2617 7.2617c4.0078 0 7.2734-3.2539 7.2734-7.2617z"></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
