---
permalink: /see-our-work/
---

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" class="">

<head>
  <meta charset="utf-8">
  <link rel="canonical" href="https://www.bangbangautodetailing.com/see-our-work/">
  <meta id="view" name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=5, viewport-fit=cover">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!--Add favorites icons-->
  <link rel="apple-touch-icon" href="https://irp.cdn-website.com/d9511e89/dms3rep/multi/Untitled+1630+x+900+px.jpg" />
  <link rel="icon" type="image/x-icon" href="https://irp.cdn-website.com/d9511e89/site_favicon_16_1738719270240.ico" />
  <!-- End favorite icons -->
  <link rel="preconnect" href="https://lirp.cdn-website.com/" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <!-- Google Fonts Include -->
  <!-- loadCSS function fonts.jsp-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <!-- RT CSS Include d-css-runtime-flex-->
  <link rel="stylesheet" type="text/css" href="https://static.cdn-website.com/mnlt/production/5315/_dm/s/rt/dist/css/d-css-runtime-flex.min.css" />
  <!-- End of RT CSS Include -->
  <link type="text/css" rel="stylesheet" href="https://irp.cdn-website.com/WIDGET_CSS/c7c3b2cb6c94544b5c456e371122d444.css" id="widgetCSS" />
  <!-- Site CSS -->
  <link type="text/css" rel="stylesheet" href="https://irp.cdn-website.com/d9511e89/files/d9511e89_1.min.css?v=41" id="siteGlobalCss" />
  <style id="pagestyle" type="text/css">
    @media all {
      *#dm .dmInner nav.u_1998592992 {
        color: black !important;
      }

      *#dm .dmInner nav.u_1697499384 {
        color: white !important;
      }

      *#dm .dmInner div.u_1847326998 img {
        object-fit: contain !important;
      }

      *#dm .dmInner div.u_1182740275 {
        background-color: rgba(0, 0, 0, 0) !important;
        background-image: initial !important;
      }

      *#dm .dmInner div.u_1337659927 {
        border-style: solid !important;
        border-width: 0px !important;
      }

      *#dm .dmInner *.u_1337659927 .photoGalleryThumbs .image-container a {
        background-size: cover !important;
      }

      *#dm .dmInner div.u_1337659927 .photoGalleryThumbs .image-container {
        border-radius: 0px 0px 0px 0px !important;
      }
    }

    @media (min-width:1025px) {
      *#dm .dmInner *.u_1337659927 .caption-inner {
        border-bottom-left-radius: 0px !important;
        -webkit-border-top-right-radius: 0px !important;
        -moz-border-top-right-radius: 0px !important;
        -webkit-border-bottom-right-radius: 0px !important;
        -webkit-border-bottom-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        -webkit-border-top-left-radius: 0px !important;
        border-radius: 0px !important;
        -moz-border-bottom-right-radius: 0px !important;
        -moz-border-top-left-radius: 0px !important;
        border-top-left-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -moz-border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        -webkit-border-radius: 0px !important;
      }

      *#dm .dmInner *.u_1337659927 .photoGalleryThumbs {
        padding: 10px !important;
      }

      *#dm .dmInner *.u_1337659927 .layout-container {
        padding: 10px !important;
      }

      *#dm .dmInner *.u_1337659927 .photoGalleryViewAll {
        padding: 0 10px !important;
      }
    }

    @media (min-width:768px) and (max-width:1024px) {
      *#dm .dmInner *.u_1337659927 .photoGalleryThumbs {
        padding: 10px !important;
      }

      *#dm .dmInner *.u_1337659927 .layout-container {
        padding: 10px !important;
      }

      *#dm .dmInner *.u_1337659927 .photoGalleryViewAll {
        padding: 0 10px !important;
      }
    }

    @media (min-width:0px) and (max-width:767px) {
      *#dm .dmInner *.u_1337659927 .photoGalleryThumbs {
        padding: 5px !important;
      }

      *#dm .dmInner *.u_1337659927 .layout-container {
        padding: 5px !important;
      }

      *#dm .dmInner *.u_1337659927 .photoGalleryViewAll {
        padding: 0 5px !important;
      }
    }
  </style>
  <!-- Flex Sections CSS -->
  <style id="grid-styles-common-53335634-d9bf9c7ce4954630991968de8db4106c" data-page-uuid="d9bf9c7ce4954630991968de8db4106c">
    @media all {
      #\36 3c7b8b76c596a2813341bc5 {
        height: auto;
      }

      #e502a7d3 {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        max-width: 100%;
        width: 28.38%;
        min-height: 43px;
        max-height: 100%;
        background-color: var(--color_7);
        background-image: initial;
        height: auto;
        padding-left: 15px;
        border-radius: 212px 212px 212px 212px;
        order: 0;
        justify-self: auto;
        align-self: center;
        margin-top: 0px;
        margin-bottom: 0px;
        grid-area: auto / auto / auto / auto;
      }

      #\37 6cc7720 {
        width: 37.95%;
        height: auto;
        max-width: 100%;
        order: 2;
        align-self: center;
        justify-self: auto;
        grid-area: auto / auto / auto / auto;
      }

      #\34 201b54a {
        width: 100.00%;
        height: auto;
        max-width: 100%;
        order: 1;
      }

      #\32 c24cdd7 {
        width: 9.10%;
        height: 32px;
        max-width: 100%;
        justify-self: auto;
        align-self: auto;
        order: 0;
        grid-area: auto / auto / auto / auto;
      }

      #\34 0887194 {
        min-height: 387px;
        column-gap: 4%;
        row-gap: 24px;
        max-width: none;
        width: 100%;
        padding-top: 130px;
        flex-wrap: nowrap;
      }

      #\31 714f9e9 {
        border-width: 0px;
        border-color: rgba(0, 0, 0, 1);
        border-style: solid;
        background-color: rgba(0, 0, 0, 1);
        background-image: initial;
      }

      #c861b172 {
        min-height: 8px;
        column-gap: 4%;
        row-gap: 15px;
        width: 100%;
        min-width: 4%;
        background-color: rgba(0, 0, 0, 0);
        padding: 16px 40px 16px 40px;
      }

      #de7312a8.flex-element.widget-wrapper>[data-element-type] {
        padding: 8px 15px 8px 15px;
      }

      #de7312a8 {
        width: 90.90227255681393%;
        height: auto;
        max-width: 100%;
        justify-self: auto;
        align-self: auto;
        order: 1;
        grid-area: auto / auto / auto / auto;
      }
    }
  </style>
  <style id="grid-styles-tablet-53335634-d9bf9c7ce4954630991968de8db4106c" data-page-uuid="d9bf9c7ce4954630991968de8db4106c">
    @media (min-width: 768px) and (max-width: 1024px) {
      #e502a7d3 {
        width: 51.65%;
        order: 0;
      }

      #\37 6cc7720 {
        justify-self: auto;
        align-self: center;
        width: 61.54%;
        order: 2;
        margin: 0px 0% 0px 0%;
        grid-area: auto / auto / auto / auto;
      }

      #\34 201b54a {
        order: 1;
      }

      #\34 0887194 {
        padding-right: 2%;
      }
    }
  </style>
  <style id="grid-styles-mobile-53335634-d9bf9c7ce4954630991968de8db4106c" data-page-uuid="d9bf9c7ce4954630991968de8db4106c">
    @media (max-width: 767px) {
      #e502a7d3 {
        width: 100.00%;
      }

      #\37 6cc7720 {
        width: 100.00%;
      }

      #\32 c24cdd7 {
        height: 24px;
        width: 6.133333333333333%;
      }

      #\34 0887194 {
        min-height: 0;
        flex-direction: column;
        padding-left: 4%;
        padding-right: 4%;
        flex-wrap: nowrap;
      }

      #c861b172 {
        min-height: 80px;
        align-items: center;
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
      }

      #de7312a8 {
        width: 93.87%;
      }
    }
  </style>
  <style id="grid-styles-common-0c43d53d-d9bf9c7ce4954630991968de8db4106c" data-page-uuid="d9bf9c7ce4954630991968de8db4106c">
    @media all {
      #\32 2094000 {
        padding-top: 4%;
        padding-bottom: 4%;
        min-height: 240px;
        column-gap: 4%;
        row-gap: 24px;
        width: 100%;
        flex-wrap: nowrap;
      }

      #\32 3955603::before,
      #\32 3955603>.bgExtraLayerOverlay {}

      #\32 3955603 {
        min-height: 8px;
        column-gap: 4%;
        row-gap: 24px;
        width: 100%;
        min-width: 4%;
        background-image: url();
        border-radius: 0px 0px 0px 0px;
        padding: 16px 16px 16px 16px;
      }

      #c56fca44 {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        max-width: 100%;
        width: 100%;
        min-height: 160px;
        max-height: 100%;
        justify-self: auto;
        align-self: auto;
        order: 1;
        grid-area: auto / auto / auto / auto;
      }

      #\30 03418c4 {
        width: 100%;
        height: auto;
        max-width: 100%;
        justify-self: auto;
        align-self: auto;
        order: 0;
        grid-area: auto / auto / auto / auto;
      }

      #\31 aa63916::before,
      #\31 aa63916>.bgExtraLayerOverlay {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 1);
        opacity: 0.63;
        border-radius: inherit;
      }

      #\31 aa63916 {
        background-image: url(https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/918-2880w.jpg);
        background-repeat: repeat;
        background-size: auto;
      }
    }
  </style>
  <style id="grid-styles-tablet-0c43d53d-d9bf9c7ce4954630991968de8db4106c" data-page-uuid="d9bf9c7ce4954630991968de8db4106c">
    @media (min-width: 768px) and (max-width: 1024px) {
      #\32 2094000 {
        padding-left: 2%;
        padding-right: 2%;
      }

      #\32 3955603::before,
      #\32 3955603>.bgExtraLayerOverlay {}

      #\30 03418c4 {
        justify-self: auto;
        align-self: auto;
        width: 100%;
        order: 0;
        margin: 0px 0% 0px 0%;
        grid-area: auto / auto / auto / auto;
      }

      #\31 aa63916::before,
      #\31 aa63916>.bgExtraLayerOverlay {}
    }
  </style>
  <style id="grid-styles-mobile-0c43d53d-d9bf9c7ce4954630991968de8db4106c" data-page-uuid="d9bf9c7ce4954630991968de8db4106c">
    @media (max-width: 767px) {
      #\32 2094000 {
        min-height: 0;
        flex-direction: column;
        padding-left: 4%;
        padding-right: 4%;
        flex-wrap: nowrap;
      }

      #\32 3955603::before,
      #\32 3955603>.bgExtraLayerOverlay {}

      #\32 3955603 {
        width: 100%;
        min-height: 80px;
        align-items: center;
      }

      #\31 aa63916::before,
      #\31 aa63916>.bgExtraLayerOverlay {}
    }
  </style>
  <style id="grid-styles-common-flex-footer-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media all {
      #flex-footer {
        background-color: var(--color_1);
        background-image: initial;
      }
    }
  </style>
  <style id="grid-styles-tablet-flex-footer-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 768px) and (max-width: 1024px) {
      #flex-footer {}
    }
  </style>
  <style id="grid-styles-mobile-flex-footer-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (max-width: 767px) {
      #flex-footer {}
    }
  </style>
  <style id="grid-styles-common-flex-header-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media all {
      #flex-header[data-changeable-on-scroll][data-scrolling] [data-widget-type="image"] img {
        transform: scale(0.92);
      }

      #flex-header {
        background-color: rgba(0, 0, 0, 1);
        background-image: initial;
      }

      #flex-header[data-changeable-on-scroll][data-scrolling] {
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: rgba(0, 0, 0, 1);
        background-image: initial;
      }
    }
  </style>
  <style id="grid-styles-desktop-flex-header-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 1025px) {}
  </style>
  <style id="grid-styles-tablet_implicit-flex-header-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 768px) and (max-width: 1024px) {}
  </style>
  <style id="grid-styles-tablet-flex-header-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 768px) and (max-width: 1024px) {
      #flex-header {}
    }
  </style>
  <style id="grid-styles-mobile_implicit-flex-header-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (max-width: 767px) {}
  </style>
  <style id="grid-styles-mobile-flex-header-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (max-width: 767px) {
      #flex-header {}
    }
  </style>
  <style id="grid-styles-common-708172a5-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media all {
      #\32 ebfd75b {
        width: 100%;
        height: auto;
        max-width: 100%;
        justify-self: auto;
        order: 0;
        grid-area: auto / auto / auto / auto;
      }

      #\31 681b29c {
        width: 60px;
        height: 60px;
        max-width: 100%;
      }

      #\33 c55328d.flex-element.widget-wrapper>[data-element-type] {
        padding-top: 0%;
      }

      #\33 c55328d {
        width: 241px;
        height: 45px;
        max-width: 100%;
        order: 0;
        grid-area: auto / auto / auto / auto;
      }

      #\35 9ff9586 {
        width: 191px;
        height: auto;
        max-width: 100%;
        justify-self: auto;
        align-self: auto;
        order: 0;
        grid-area: auto / auto / auto / auto;
      }

      #\30 df967b5 {
        min-height: 8px;
        column-gap: 4%;
        row-gap: 24px;
        flex-direction: row;
        width: 10%;
        justify-content: flex-end;
        align-items: center;
        min-width: 4%;
        padding: 16px 16px 16px 16px;
      }

      #\39 3ef7070 {
        flex-direction: row;
        align-items: center;
        width: 70%;
        min-width: 4%;
        min-height: 8px;
        column-gap: 4%;
        row-gap: 24px;
        padding: 6px 16px 6px 16px;
      }

      #f272493c {
        min-height: 102px;
        column-gap: 0%;
        row-gap: 0px;
        max-width: none;
        width: 100%;
        padding: 10px 4% 10px 4%;
      }

      #\32 e4acb2a {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 10%;
        min-width: 4%;
        min-height: 8px;
        column-gap: 4%;
        row-gap: 24px;
        padding: 6px 16px 6px 16px;
      }

      #\39 d6be6d0 {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 20%;
        min-width: 4%;
        min-height: 8px;
        column-gap: 4%;
        row-gap: 24px;
        padding: 6px 16px 6px 16px;
      }

      #\36 7e29e60:hover svg,
      #\36 7e29e60.hover svg {
        fill: var(--color_7);
      }

      #\36 7e29e60 svg {
        fill: var(--color_6);
      }

      #\36 7e29e60 {
        width: 30px;
        height: 30px;
        max-width: 100%;
      }
    }
  </style>
  <style id="grid-styles-tablet-708172a5-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 768px) and (max-width: 1024px) {
      #\31 681b29c {
        width: 32px;
        height: 32px;
        order: 0;
      }

      #\33 c55328d {
        width: 235px;
        justify-self: auto;
        align-self: auto;
        order: 1;
        margin: 0px 0% 0px 0%;
        grid-area: auto / auto / auto / auto;
      }

      #\35 9ff9586 {
        width: 173px;
        height: auto;
      }

      #\30 df967b5 {
        order: 3;
        width: 9.41%;
        min-height: 8px;
      }

      #\39 3ef7070 {
        width: 20.7%;
        order: 1;
        justify-content: flex-end;
        padding-right: 50px;
      }

      #f272493c {
        padding-left: 2%;
        padding-right: 2%;
        flex-direction: row;
        flex-wrap: nowrap;
        min-height: 0px;
      }

      #\32 e4acb2a {
        width: 44.95757142857143%;
        margin-left: -0.0011659701492537314%;
        justify-content: flex-start;
        order: 0;
        min-height: 8px;
      }

      #\39 d6be6d0 {
        width: 45.55028571428571%;
        order: 2;
        justify-content: flex-end;
        min-height: 8px;
      }

      #\36 7e29e60 {
        justify-self: auto;
        align-self: auto;
        order: 0;
        margin: 0px 0% 0px 0%;
        grid-area: auto / auto / auto / auto;
      }
    }
  </style>
  <style id="grid-styles-mobile-708172a5-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (max-width: 767px) {
      #\31 681b29c {
        width: 32px;
        height: 32px;
      }

      #\35 9ff9586 {
        width: 110px;
        height: auto;
      }

      #\30 df967b5 {
        align-items: center;
        width: 18%;
        order: 3;
      }

      #\39 3ef7070 {
        width: 9.30%;
        order: 2;
      }

      #f272493c {
        padding-left: 2%;
        padding-right: 2%;
        min-height: 0px;
      }

      #\32 e4acb2a {
        width: 52.14389534883721%;
        justify-content: center;
        order: 1;
      }

      #\39 d6be6d0 {
        width: 20.5%;
        order: 0;
        justify-content: flex-start;
      }

      #\36 7e29e60 {
        justify-self: auto;
        align-self: auto;
        order: 0;
        margin: 0px 0% 0px 0%;
        grid-area: auto / auto / auto / auto;
      }
    }
  </style>
  <style id="grid-styles-common-18f5ea00-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media all {
      #\39 d047ce9 {
        min-height: 8px;
        column-gap: 4%;
        row-gap: 24px;
        width: 100%;
        min-width: 4%;
        align-items: flex-end;
        padding: 16px 16px 16px 16px;
      }

      #a1f8711f {
        padding-top: 2%;
        padding-bottom: 2%;
        min-height: 100px;
        column-gap: 4%;
        row-gap: 24px;
        width: 100%;
      }

      #\31 2a003a5 a {
        background-color: rgba(0, 0, 0, 0);
      }

      #\31 2a003a5 svg {
        fill: rgba(120, 120, 120, 1);
      }

      #\31 2a003a5 {
        width: 30px;
        height: 30px;
      }
    }
  </style>
  <style id="grid-styles-tablet-18f5ea00-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 768px) and (max-width: 1024px) {
      #a1f8711f {
        padding-left: 4%;
        padding-right: 4%;
      }

      #\31 2a003a5 {
        justify-self: auto;
        align-self: auto;
        order: 0;
        margin: 0px 0% 0px 0%;
        grid-area: auto / auto / auto / auto;
      }
    }
  </style>
  <style id="grid-styles-mobile-18f5ea00-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (max-width: 767px) {
      #\39 d047ce9 {
        width: 100%;
        min-height: 80px;
      }

      #a1f8711f {
        min-height: unset;
        flex-direction: column;
        padding-left: 4%;
        padding-right: 4%;
      }
    }
  </style>
  <style id="grid-styles-common-63a049320d35b55b4ef2a372-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media all {
      #\36 3a049320d35b55b4ef2a374 {
        min-height: 8px;
        column-gap: 4%;
        row-gap: 24px;
        width: 100%;
        min-width: 4%;
        background-color: rgba(0, 0, 0, 0);
        padding: 16px 16px 16px 16px;
      }

      #\36 3a049320d35b55b4ef2a376 {
        background-color: rgba(0, 0, 0, 0);
      }

      #\36 3a049320d35b55b4ef2a377 {
        min-height: 200px;
        padding-top: 2%;
        padding-bottom: 2%;
        column-gap: 4%;
        row-gap: 24px;
        width: 100%;
      }

      #\36 3a049ca0d35b55b4ef2a5c3 {
        width: 544px;
        height: auto;
        max-width: 100%;
        justify-self: auto;
        align-self: auto;
        order: 0;
        grid-area: auto / auto / auto / auto;
      }

      #\36 2d6a167a824ca526194d9a5 {
        background-color: rgba(232, 255, 133, 1);
      }
    }
  </style>
  <style id="grid-styles-tablet-63a049320d35b55b4ef2a372-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 768px) and (max-width: 1024px) {
      #\36 3a049320d35b55b4ef2a374 {
        justify-content: flex-start;
        padding-top: 16px;
      }

      #\36 3a049320d35b55b4ef2a377 {
        min-height: 302px;
        padding: 0% 4% 0% 4%;
      }
    }
  </style>
  <style id="grid-styles-mobile-63a049320d35b55b4ef2a372-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (max-width: 767px) {
      #\36 3a049320d35b55b4ef2a374 {
        min-height: 50vh;
        justify-content: flex-start;
        padding-top: 100px;
        width: 100%;
      }

      #\36 3a049320d35b55b4ef2a377 {
        min-height: unset;
        flex-direction: column;
        padding: 0% 4% 0% 4%;
      }

      #\36 3a049ca0d35b55b4ef2a5c3 {
        align-self: flex-start;
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  </style>
  <style id="grid-styles-common-6406026c90e1521f6ecb0eca-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media all {
      #\36 406026c90e1521f6ecb0ecd {
        min-height: 8px;
        column-gap: 4%;
        row-gap: 24px;
        width: 100%;
        min-width: 4%;
        padding: 16px 16px 16px 16px;
      }

      #\36 406026c90e1521f6ecb0ecc {
        min-height: 460px;
        padding-top: 4%;
        padding-bottom: 4%;
        column-gap: 4%;
        row-gap: 24px;
        width: 100%;
      }

      #widget_s4l {
        width: 100%;
        height: auto;
        max-width: 100%;
        order: 1;
      }
    }
  </style>
  <style id="grid-styles-desktop-6406026c90e1521f6ecb0eca-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 1025px) {
      #widget_s4l {
        justify-self: auto;
        align-self: auto;
        width: 95.8158273381295%;
        grid-area: auto / auto / auto / auto;
      }
    }
  </style>
  <style id="grid-styles-tablet-6406026c90e1521f6ecb0eca-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 768px) and (max-width: 1024px) {
      #\36 406026c90e1521f6ecb0ecc {
        min-height: 374px;
        padding: 0% 4% 0% 4%;
      }

      #\36 406026c90e1521f6ecb0ecd {
        justify-content: flex-end;
        padding-bottom: 100px;
      }

      #widget_s4l {
        justify-self: auto;
        align-self: auto;
        width: 100%;
        order: 0;
        margin: 0px 0% 0px 0%;
        grid-area: auto / auto / auto / auto;
      }
    }
  </style>
  <style id="grid-styles-mobile-6406026c90e1521f6ecb0eca-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (max-width: 767px) {
      #\36 406026c90e1521f6ecb0ecd {
        min-height: 50vh;
        justify-content: flex-end;
        padding-bottom: 100px;
        width: 100%;
      }

      #\36 406026c90e1521f6ecb0ecc {
        min-height: unset;
        flex-direction: column;
        padding: 0% 4% 0% 4%;
      }

      #widget_s4l {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  </style>
  <style id="grid-styles-common-23725394-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media all {
      #\30 3b9d444 {
        min-height: 80px;
        column-gap: 0%;
        row-gap: 0px;
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
        flex-wrap: nowrap;
      }

      #\35 c6391d3 {
        min-height: 8px;
        column-gap: 4%;
        row-gap: 24px;
        width: 100%;
        align-items: center;
        min-width: 4%;
        flex-wrap: nowrap;
        background-color: rgba(0, 0, 0, 1);
        background-image: initial;
        padding: 16px 16px 16px 16px;
      }

      #widget_ao0 {
        width: 364px;
        height: auto;
        max-width: 100%;
        align-self: center;
        margin: 0px 0% 0px 0%;
      }

      #b57c8772 {
        background-color: rgba(0, 0, 0, 1);
        background-image: initial;
      }
    }
  </style>
  <style id="grid-styles-tablet-23725394-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 768px) and (max-width: 1024px) {
      #\30 3b9d444 {
        padding-left: 4%;
        padding-right: 4%;
      }
    }
  </style>
  <style id="grid-styles-mobile-23725394-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (max-width: 767px) {
      #\30 3b9d444 {
        flex-direction: row;
        padding-left: 4%;
        padding-right: 4%;
        flex-wrap: nowrap;
        min-height: 80px;
      }

      #\35 c6391d3 {
        width: 100%;
        align-items: center;
        min-height: 8px;
      }
    }
  </style>
  <style id="grid-styles-common-0faa1034-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media all {
      #\38 c109f68 {
        background-color: rgba(0, 0, 0, 1);
        background-image: initial;
      }

      #\36 b90a366 {
        width: 100.00%;
        height: auto;
        max-width: 100%;
        justify-self: auto;
        align-self: auto;
        order: 5;
        grid-area: auto / auto / auto / auto;
      }

      #\32 9a98df1 {
        width: 100.00%;
        height: auto;
        max-width: 100%;
        justify-self: auto;
        align-self: auto;
        order: 6;
        grid-area: auto / auto / auto / auto;
      }

      #\31 6ff6318 {
        width: 93.24%;
        height: auto;
        max-width: 100%;
        align-self: auto;
        order: 1;
        grid-area: auto / auto / auto / auto;
      }

      #\34 7fd1300 {
        justify-content: flex-start;
        width: 32.666666666666664%;
        min-width: 4%;
        min-height: 8px;
        column-gap: 4%;
        row-gap: 15px;
        align-items: center;
        padding-left: 2%;
        padding-right: 2%;
        order: 1;
      }

      #aeb1341c {
        min-height: 230px;
        column-gap: 1%;
        row-gap: 6px;
        width: 100%;
        flex-wrap: nowrap;
        padding: 10px 2% 10px 2%;
      }

      #widget_mi5 {
        width: 97.49295396904061%;
        height: auto;
        max-width: 100%;
        align-self: auto;
        order: 0;
        grid-area: auto / auto / auto / auto;
      }

      #widget_aot {
        width: 100.00%;
        height: auto;
        max-width: 100%;
        justify-self: auto;
        align-self: auto;
        order: 3;
        grid-area: auto / auto / auto / auto;
      }

      #widget_gb6 {
        width: 96.1441936066462%;
        height: auto;
        max-width: 100%;
        align-self: auto;
        order: 2;
        grid-area: auto / auto / auto / auto;
      }

      #group_b8j {
        justify-content: flex-start;
        width: 32.666666666666664%;
        min-width: 4%;
        min-height: 8px;
        column-gap: 4%;
        row-gap: 15px;
        order: 2;
        padding-right: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
      }

      #group_ho3 {
        justify-content: flex-start;
        width: 32.666666666666664%;
        min-width: 4%;
        min-height: 8px;
        column-gap: 4%;
        row-gap: 15px;
        order: 0;
        padding-right: 16px;
        padding-left: 16px;
      }

      #\34 dcafe72 {
        width: 100%;
        height: auto;
        max-width: 100%;
        align-self: auto;
        order: 0;
        justify-self: auto;
        grid-area: auto / auto / auto / auto;
      }

      #widget_g4o {
        width: 100%;
        height: auto;
        max-width: 100%;
        align-self: stretch;
        order: 1;
      }
    }
  </style>
  <style id="grid-styles-tablet-0faa1034-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 768px) and (max-width: 1024px) {
      #\31 6ff6318 {
        width: 85.54%;
      }

      #aeb1341c {
        min-height: 205px;
      }
    }
  </style>
  <style id="grid-styles-mobile-0faa1034-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (max-width: 767px) {
      #\36 b90a366 {
        width: 40.00%;
      }

      #\32 9a98df1 {
        width: 90.47%;
      }

      #\31 6ff6318 {
        width: 99.87%;
      }

      #\34 7fd1300 {
        width: 100%;
        min-height: 80px;
        align-items: center;
        padding-top: 0px;
        justify-content: flex-start;
        order: 1;
      }

      #aeb1341c {
        min-height: 0;
        flex-direction: column;
        padding-bottom: 20px;
        padding-left: 24px;
        padding-right: 24px;
        flex-wrap: nowrap;
      }

      #widget_aot {
        width: 100%;
      }

      #group_b8j {
        width: 100%;
        min-height: 80px;
        align-items: center;
        order: 2;
      }

      #group_ho3 {
        width: 100%;
        min-height: 80px;
        align-items: center;
        order: 0;
      }

      #\34 dcafe72 {
        width: 100%;
      }
    }
  </style>
  <style id="grid-styles-common-036a4544-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media all {
      #\36 cef9f03 {
        min-height: 24px;
        column-gap: 0%;
        row-gap: 0px;
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
        flex-wrap: nowrap;
      }

      #\33 5daa636 {
        min-height: 8px;
        column-gap: 4%;
        row-gap: 24px;
        flex-direction: row;
        width: 100%;
        align-items: center;
        min-width: 4%;
        flex-wrap: nowrap;
        padding: 16px 16px 16px 16px;
      }

      #widget_f33 {
        width: 733px;
        height: auto;
        max-width: 100%;
        order: 0;
        justify-self: auto;
        margin: 0px 0% 0px 0%;
        grid-area: auto / auto / auto / auto;
      }

      #\35 dac85eb {
        background-color: rgba(0, 0, 0, 1);
        background-image: initial;
      }
    }
  </style>
  <style id="grid-styles-tablet-036a4544-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 768px) and (max-width: 1024px) {
      #\36 cef9f03 {
        padding-left: 4%;
        padding-right: 4%;
      }
    }
  </style>
  <style id="grid-styles-mobile-036a4544-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (max-width: 767px) {
      #\36 cef9f03 {
        flex-direction: row;
        padding-left: 4%;
        padding-right: 4%;
        flex-wrap: nowrap;
        min-height: 80px;
      }

      #\33 5daa636 {
        width: 100%;
        align-items: center;
        min-height: 8px;
      }

      #widget_f33 {
        align-self: center;
        margin-left: 0px;
        margin-right: 0px;
        width: 202px;
      }
    }
  </style>
  <style id="grid-styles-common-3bc0ec44-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media all {
      #\36 16cc8c5 {
        min-height: 240px;
        column-gap: 4%;
        row-gap: 24px;
        max-width: none;
        width: 100%;
        flex-wrap: nowrap;
      }

      #\38 9c74eee {
        grid-template-rows: minmax(300px, max-content);
        width: 100%;
        max-width: 100%;
      }

      #d01c6376 {
        min-height: 8px;
        column-gap: 4%;
        row-gap: 24px;
        width: 100%;
        min-width: 4%;
      }

      #widget_flk {
        width: 60px;
        height: auto;
        position: relative;
        max-width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-right: 40px;
        margin-left: 40px;
        justify-self: end;
        align-self: end;
      }
    }
  </style>
  <style id="grid-styles-tablet-3bc0ec44-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 768px) and (max-width: 1024px) {
      #\36 16cc8c5 {
        padding-left: 2%;
        padding-right: 2%;
      }
    }
  </style>
  <style id="grid-styles-mobile-3bc0ec44-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (max-width: 767px) {
      #\36 16cc8c5 {
        min-height: 0;
        flex-direction: column;
        padding-left: 4%;
        padding-right: 4%;
        flex-wrap: nowrap;
      }

      #d01c6376 {
        width: 100%;
        min-height: 80px;
        align-items: center;
      }

      #widget_flk {
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 100%;
        margin-right: 20px;
      }
    }
  </style>
  <link rel="stylesheet" href="/assets/css/merge.css" />
  <!-- End render the required css and JS in the head section -->

  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.bangbangautodetailing.com/see-our-work/" />
  <title>
    Detailing Works Gallery | Bang Bang Auto Detailing

  </title>
  <meta name="description" content="From deep cleans to ceramic coatings, check out our detailing gallery at Bang Bang Auto Detailing and see the difference we make in Orlando, FL." />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Detailing Works Gallery | Bang Bang Auto Detailing" />
  <meta name="twitter:description" content="From deep cleans to ceramic coatings, check out our detailing gallery at Bang Bang Auto Detailing and see the difference we make in Orlando, FL." />
  <meta name="twitter:image" content="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/209-1920w.jpg" />
  <meta property="og:description" content="From deep cleans to ceramic coatings, check out our detailing gallery at Bang Bang Auto Detailing and see the difference we make in Orlando, FL." />
  <meta property="og:title" content="Detailing Works Gallery | Bang Bang Auto Detailing" />
  <meta property="og:image" content="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/209-1920w.jpg" />
  <!-- SYS- VVNfRElSRUNUX1BST0RVQ1RJT04= -->
</head>

<body id="dmRoot" data-page-alias="see-our-work" class="dmRoot fix-mobile-scrolling flex-site dmResellerSite " style="padding:0;margin:0;" data-flex-site>
  <!-- ========= Site Content ========= -->
  <div id="dm" class='dmwr'>
    <div class="dm_wrapper -var5 null ">
      <div dmwrapped="true" id="1901957768" class="dm-home-page" themewaschanged="true">
        <div dmtemplateid="FlexHeader" data-responsive-name="FlexLayout" class="runtime-module-container dm-bfs dm-layout-sec hasAnimations hasStickyHeader inMiniHeaderMode rows-1200 hamburger-reverse dmPageBody d-page-1716942098 dmDHeader" id="dm-outer-wrapper" data-page-class="1716942098" data-soch="true" data-background-parallax-selector=".dmHomeSection1, .dmSectionParallex">
          <div id="dmStyle_outerContainer" class="dmOuter">
            <div id="dmStyle_innerContainer" class="dmInner">
              <div class="dmLayoutWrapper standard-var dmStandardDesktop">
                <div id="site_content">
                  {% include "header.liquid" %}
                  <div dmwrapped="true" id="dmFirstContainer" class="dmBody u_dmStyle_template_see-our-work dm-home-page" themewaschanged="true">
                    <div id="allWrapper" class="allWrapper"><!-- navigation placeholders -->
                      <div id="dm_content" class="dmContent">
                        <div dm:templateorder="170" class="dmHomeRespTmpl mainBorder dmRespRowsWrapper dmFullRowRespTmpl" id="1716942098">
                          <div data-auto="flex-section" id="1715560983" data-flex-id="53335634" data-layout-section="" data-page-element-type="section" data-page-element-id="1571026692">
                            <div class="flex-widgets-container" id="1907959583"></div>
                            <section id="c023c825" class="flex-element section" data-auto="flex-element-section">
                              <div id="1714f9e9" class="flex-element grid" data-auto="flex-element-grid" data-layout-grid="">
                                <div id="40887194" class="flex-element group" data-auto="flex-element-group">
                                  <div id="c861b172" class="flex-element group" data-auto="flex-element-group">
                                    <div id="e502a7d3" class="flex-element group" data-auto="flex-element-group">
                                      <div id="2c24cdd7" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="image" data-external-id="1847326998">
                                        <div class="imageWidget align-center u_1847326998" data-element-type="image" data-widget-type="image" id="1847326998"><img src="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/search-1920w.png" alt="car detailing gallery icon" id="1573511112" class="" width="256" height="256" data-dm-image-path="https://irp.cdn-website.com/d9511e89/dms3rep/multi/search.png" onerror="handleImageLoadError(this)" /></div>
                                      </div>
                                      <div id="de7312a8" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="paragraph" data-external-id="1182740275">
                                        <div class="dmNewParagraph u_1182740275" data-element-type="paragraph" data-version="5" id="1182740275" style="" new-inline-bind-applied="true" data-diy-text="">
                                          <p class="m-size-18 text-align-center" style="line-height: initial;"><strong class="m-font-size-18" m-font-size-set="true" style="display: initial; color: var(--color_3);"><span class="inline-data-binding" data-encoded-value="QmFuZyBCYW5nIEF1dG8gRGV0YWlsaW5n" data-inline-binding="content_library.global.company_name" data-inline-binding-encoded="Y29udGVudF9saWJyYXJ5Lmdsb2JhbC5jb21wYW55X25hbWU=">Bang Bang Auto Detailing</span></strong></p>
                                        </div>
                                      </div>
                                    </div>
                                    <div id="4201b54a" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="paragraph" data-external-id="1244816851">
                                      <div class="dmNewParagraph" data-element-type="paragraph" data-version="5" id="1244816851" style="">
                                        <h1 class="text-align-center" style="line-height: 1.3;"><span style="display: initial;">See Our Works<span class="ql-cursor">﻿</span></span></h1>
                                      </div>
                                    </div>
                                    <div id="76cc7720" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="paragraph" data-external-id="1635847213">
                                      <div class="dmNewParagraph" data-element-type="paragraph" data-version="5" id="1635847213" style="">
                                        <p style="letter-spacing: var(--framer-letter-spacing, 0); line-height: 1.5;" class="text-align-center m-size-16 t-size-16 size-16 t-text-align-center"><span style="color: var(--color_8); font-style: var(--framer-font-style, normal); font-weight: var(--framer-font-weight, 400); display: initial;" class="m-font-size-16 t-font-size-16 font-size-16">We combine top-rated maid and home cleaning services with unbeatable customer service to create a stress free experience.&nbsp;</span></p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                          </div>
                          <div data-layout-section="" data-auto="flex-section" id="1541388660" data-flex-id="0c43d53d" class="">
                            <div class="flex-widgets-container" id="1141930541"></div>
                            <section id="3561c845" class="flex-element section" data-auto="flex-element-section">
                              <div id="1aa63916" class="flex-element grid" data-auto="flex-element-grid" data-layout-grid="">
                                <div id="22094000" class="flex-element group" data-auto="flex-element-group">
                                  <div id="23955603" class="flex-element group" data-auto="flex-element-group">
                                    <div id="c56fca44" class="flex-element group" data-auto="flex-element-group">
                                      <div id="003418c4" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="photoGallery" data-external-id="1337659927">
                                        <div class="dmPhotoGallery newPhotoGallery dmPhotoGalleryResp u_1337659927 hasShadow" galleryoptionsparams="{thumbnailsPerRow: 3, rowsToShow: 3, imageScaleMethod: true}" data-desktop-layout="asymetric3" data-desktop-columns="2" data-element-type="dPhotoGalleryId" data-desktop-text-layout="over" id="1337659927" data-placeholder="false" data-rows-to-show="100" data-image-hover-effect="zoomout">
                                          <ul class="dmPhotoGalleryHolder clearfix gallery shadowEffectToChildren gallery4inArow" id="1723829223">
                                            <li class="photoGalleryThumbs" id="1949359812">
                                              <div class="image-container" id="1983479476"> <a data-dm-multisize-attr="href" data-image-url="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+5-1fd84cff.jpg" id="1310342512"><img irh="" irw="" alt="Auto detailing Orlando" data-src="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+5-1fd84cff-1920w.jpg" id="1796256683" class="" onerror="handleImageLoadError(this)" /></a>
                                              </div>
                                              <div class="caption-container" style="display:none" id="1413757297"> <span class="caption-inner" id="1318068150"> <a class="caption-button dmWidget clearfix" id="1558851563"> <span class="iconBg" id="1750401705"> <span class="icon hasFontIcon icon-star" id="1366185585"></span>
                                                    </span>
                                                    <span class="text" id="1315691481">Button</span>
                                                  </a>
                                                </span>
                                              </div>
                                            </li>
                                            <li class="photoGalleryThumbs" id="1713230161">
                                              <div class="image-container" id="1872914350"> <a data-dm-multisize-attr="href" data-image-url="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+2-5843f1d5.jpg" id="1099662103"><img irh="" irw="" alt="Car Detailing Orlando" data-src="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+2-5843f1d5-1920w.jpg" id="1802436126" class="" onerror="handleImageLoadError(this)" /></a>
                                              </div>
                                              <div class="caption-container" style="display:none" id="1741211936"> <span class="caption-inner" id="1935419954"> <a class="caption-button dmWidget clearfix" id="1348099422"> <span class="iconBg" id="1132105469"> <span class="icon hasFontIcon icon-star" id="1515232694"></span>
                                                    </span>
                                                    <span class="text" id="1656092403">Button</span>
                                                  </a>
                                                </span>
                                              </div>
                                            </li>
                                            <li class="photoGalleryThumbs" id="1602205388">
                                              <div class="image-container" id="1992224686"> <a data-dm-multisize-attr="href" data-image-url="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+1+1-2b489948.jpg" id="1906719815"><img irh="" irw="" alt="Ceramic coating Orlando" data-src="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+1+1-2b489948-1920w.jpg" id="1876558555" class="" onerror="handleImageLoadError(this)" /></a>
                                              </div>
                                              <div class="caption-container" style="display:none" id="1863189157"> <span class="caption-inner" id="1320931559"> <a class="caption-button dmWidget clearfix" id="1928705168"> <span class="iconBg" id="1866231803"> <span class="icon hasFontIcon icon-star" id="1581249974"></span>
                                                    </span>
                                                    <span class="text" id="1570016267">Button</span>
                                                  </a>
                                                </span>
                                              </div>
                                            </li>
                                            <li class="photoGalleryThumbs" id="1383563449">
                                              <div class="image-container" id="1827289564"> <a data-dm-multisize-attr="href" data-image-url="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+8-0f2c48e8.jpg" id="1659022326"><img irh="" irw="" alt="Auto detailing services" data-src="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+8-0f2c48e8-1920w.jpg" id="1070731833" class="" onerror="handleImageLoadError(this)" /></a>
                                              </div>
                                              <div class="caption-container" style="display:none" id="1690041805"> <span class="caption-inner" id="1290101327"> <a class="caption-button dmWidget clearfix" id="1770532303"> <span class="iconBg" id="1419792677"> <span class="icon hasFontIcon icon-star" id="1215620617"></span>
                                                    </span>
                                                    <span class="text" id="1822743204">Button</span>
                                                  </a>
                                                </span>
                                              </div>
                                            </li>
                                            <li class="photoGalleryThumbs" id="1616631664">
                                              <div class="image-container" id="1211726602"> <a data-dm-multisize-attr="href" data-image-url="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+1-eed1e4aa.jpg" id="1648010280"><img irh="" irw="" alt="Car detailing services" data-src="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+1-eed1e4aa-1920w.jpg" id="1923186489" class="" onerror="handleImageLoadError(this)" /></a>
                                              </div>
                                              <div class="caption-container" style="display:none" id="1276591047"> <span class="caption-inner" id="1015079252"> <a class="caption-button dmWidget clearfix" id="1118436675"> <span class="iconBg" id="1708888434"> <span class="icon hasFontIcon icon-star" id="1101515826"></span>
                                                    </span>
                                                    <span class="text" id="1887300816">Button</span>
                                                  </a>
                                                </span>
                                              </div>
                                            </li>
                                            <li class="photoGalleryThumbs" id="1066661859">
                                              <div class="image-container" id="1073735080"> <a data-dm-multisize-attr="href" data-image-url="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+9-9ac81812.jpg" id="1403256901"><img irh="" irw="" alt="Car detailing service" data-src="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+9-9ac81812-1920w.jpg" id="1232033789" class="" onerror="handleImageLoadError(this)" /></a>
                                              </div>
                                              <div class="caption-container" style="display:none" id="1606136556"> <span class="caption-inner" id="1659114027"> <a class="caption-button dmWidget clearfix" id="1823716996"> <span class="iconBg" id="1261314183"> <span class="icon hasFontIcon icon-star" id="1000807486"></span>
                                                    </span>
                                                    <span class="text" id="1814506742">Button</span>
                                                  </a>
                                                </span>
                                              </div>
                                            </li>
                                            <li class="photoGalleryThumbs" id="1705492249">
                                              <div class="image-container" id="1756895383"> <a data-dm-multisize-attr="href" data-image-url="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+6-defb7d8f.jpg" id="1801189122"><img irh="" irw="" alt="Car detailing" data-src="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+6-defb7d8f-1920w.jpg" id="1081276882" class="" onerror="handleImageLoadError(this)" /></a>
                                              </div>
                                              <div class="caption-container" style="display:none" id="1753989982"> <span class="caption-inner" id="1763825124"> <a class="caption-button dmWidget clearfix" id="1093918576"> <span class="iconBg" id="1065531505"> <span class="icon hasFontIcon icon-star" id="1354912606"></span>
                                                    </span>
                                                    <span class="text" id="1852947247">Button</span>
                                                  </a>
                                                </span>
                                              </div>
                                            </li>
                                            <li class="photoGalleryThumbs" id="1261857218">
                                              <div class="image-container" id="1383837958"> <a data-dm-multisize-attr="href" data-image-url="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+7-3bf872bd.jpg" id="1578331881"><img irh="" irw="" alt="Auto detailing" data-src="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+7-3bf872bd-1920w.jpg" id="1910757659" class="" onerror="handleImageLoadError(this)" /></a>
                                              </div>
                                              <div class="caption-container" style="display:none" id="1216737492"> <span class="caption-inner" id="1651033576"> <a class="caption-button dmWidget clearfix" id="1649060858"> <span class="iconBg" id="1741138350"> <span class="icon hasFontIcon icon-star" id="1198373826"></span>
                                                    </span>
                                                    <span class="text" id="1003408611">Button</span>
                                                  </a>
                                                </span>
                                              </div>
                                            </li>
                                          </ul>
                                          <div class="photoGalleryViewAll link" isall="true" data-viewall="View more" data-viewless="View less" style="display:none;" id="1853564508"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% include "footer.liquid" %}
                  {% include "message-us.liquid" %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/assets/js/script.js"></script>
</body>

</html>
