---
permalink: /see-our-work/
---

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" class="">

<head>
  <meta charset="utf-8">
  <script type="text/javascript" src="/assets/js/script.js"></script>
  <link rel="canonical" href="https://www.bangbangautodetailing.com/see-our-work">
  <meta id="view" name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=5, viewport-fit=cover">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!--Add favorites icons-->
  <link rel="apple-touch-icon" href="https://irp.cdn-website.com/d9511e89/dms3rep/multi/Untitled+1630+x+900+px.jpg" />
  <link rel="icon" type="image/x-icon" href="https://irp.cdn-website.com/d9511e89/site_favicon_16_1738719270240.ico" />
  <!-- End favorite icons -->
  <link rel="preconnect" href="https://lirp.cdn-website.com/" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <!-- Google Fonts Include -->
  <!-- loadCSS function fonts.jsp-->
  <link type="text/css" rel="stylesheet" href="https://irp.cdn-website.com/fonts/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:ital,wght@0,300..700;1,300..700&amp;subset=latin-ext&amp;display=swap" />
  <!-- RT CSS Include d-css-runtime-flex-->
  <link rel="stylesheet" type="text/css" href="https://static.cdn-website.com/mnlt/production/5315/_dm/s/rt/dist/css/d-css-runtime-flex.min.css" />
  <!-- End of RT CSS Include -->
  <link type="text/css" rel="stylesheet" href="https://irp.cdn-website.com/WIDGET_CSS/c7c3b2cb6c94544b5c456e371122d444.css" id="widgetCSS" />
  <!-- This is populated in Ajax navigation -->
  <style id="pageAdditionalWidgetsCss" type="text/css">
  </style>
  <!-- Site CSS -->
  <link type="text/css" rel="stylesheet" href="https://irp.cdn-website.com/d9511e89/files/d9511e89_1.min.css?v=41" id="siteGlobalCss" />
  <style id="customWidgetStyle" type="text/css">
  </style>
  <style id="innerPagesStyle" type="text/css">
  </style>
  <style id="additionalGlobalCss" type="text/css">
  </style>
  <style id="pagestyle" type="text/css">
    @media all {
      *#dm .dmInner nav.u_1998592992 {
        color: black !important;
      }

      *#dm .dmInner nav.u_1697499384 {
        color: white !important;
      }

      *#dm .dmInner div.u_1847326998 img {
        object-fit: contain !important;
      }

      *#dm .dmInner div.u_1182740275 {
        background-color: rgba(0, 0, 0, 0) !important;
        background-image: initial !important;
      }

      *#dm .dmInner div.u_1337659927 {
        border-style: solid !important;
        border-width: 0px !important;
      }

      *#dm .dmInner *.u_1337659927 .photoGalleryThumbs .image-container a {
        background-size: cover !important;
      }

      *#dm .dmInner div.u_1337659927 .photoGalleryThumbs .image-container {
        border-radius: 0px 0px 0px 0px !important;
      }
    }

    @media (min-width:1025px) {
      *#dm .dmInner *.u_1337659927 .caption-inner {
        border-bottom-left-radius: 0px !important;
        -webkit-border-top-right-radius: 0px !important;
        -moz-border-top-right-radius: 0px !important;
        -webkit-border-bottom-right-radius: 0px !important;
        -webkit-border-bottom-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        -webkit-border-top-left-radius: 0px !important;
        border-radius: 0px !important;
        -moz-border-bottom-right-radius: 0px !important;
        -moz-border-top-left-radius: 0px !important;
        border-top-left-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -moz-border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        -webkit-border-radius: 0px !important;
      }

      *#dm .dmInner *.u_1337659927 .photoGalleryThumbs {
        padding: 10px !important;
      }

      *#dm .dmInner *.u_1337659927 .layout-container {
        padding: 10px !important;
      }

      *#dm .dmInner *.u_1337659927 .photoGalleryViewAll {
        padding: 0 10px !important;
      }
    }

    @media (min-width:768px) and (max-width:1024px) {
      *#dm .dmInner *.u_1337659927 .photoGalleryThumbs {
        padding: 10px !important;
      }

      *#dm .dmInner *.u_1337659927 .layout-container {
        padding: 10px !important;
      }

      *#dm .dmInner *.u_1337659927 .photoGalleryViewAll {
        padding: 0 10px !important;
      }
    }

    @media (min-width:0px) and (max-width:767px) {
      *#dm .dmInner *.u_1337659927 .photoGalleryThumbs {
        padding: 5px !important;
      }

      *#dm .dmInner *.u_1337659927 .layout-container {
        padding: 5px !important;
      }

      *#dm .dmInner *.u_1337659927 .photoGalleryViewAll {
        padding: 0 5px !important;
      }
    }
  </style>
  <style id="pagestyleDevice" type="text/css">
  </style>
  <!-- Flex Sections CSS -->
  <style id="grid-styles-common-53335634-d9bf9c7ce4954630991968de8db4106c" data-page-uuid="d9bf9c7ce4954630991968de8db4106c">
    @media all {
      #\36 3c7b8b76c596a2813341bc5 {
        height: auto;
      }

      #e502a7d3 {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        max-width: 100%;
        width: 28.38%;
        min-height: 43px;
        max-height: 100%;
        background-color: var(--color_7);
        background-image: initial;
        height: auto;
        padding-left: 15px;
        border-radius: 212px 212px 212px 212px;
        order: 0;
        justify-self: auto;
        align-self: center;
        margin-top: 0px;
        margin-bottom: 0px;
        grid-area: auto / auto / auto / auto;
      }

      #\37 6cc7720 {
        width: 37.95%;
        height: auto;
        max-width: 100%;
        order: 2;
        align-self: center;
        justify-self: auto;
        grid-area: auto / auto / auto / auto;
      }

      #\34 201b54a {
        width: 100.00%;
        height: auto;
        max-width: 100%;
        order: 1;
      }

      #\32 c24cdd7 {
        width: 9.10%;
        height: 32px;
        max-width: 100%;
        justify-self: auto;
        align-self: auto;
        order: 0;
        grid-area: auto / auto / auto / auto;
      }

      #\34 0887194 {
        min-height: 387px;
        column-gap: 4%;
        row-gap: 24px;
        max-width: none;
        width: 100%;
        padding-top: 130px;
        flex-wrap: nowrap;
      }

      #\31 714f9e9 {
        border-width: 0px;
        border-color: rgba(0, 0, 0, 1);
        border-style: solid;
        background-color: rgba(0, 0, 0, 1);
        background-image: initial;
      }

      #c861b172 {
        min-height: 8px;
        column-gap: 4%;
        row-gap: 15px;
        width: 100%;
        min-width: 4%;
        background-color: rgba(0, 0, 0, 0);
        padding: 16px 40px 16px 40px;
      }

      #de7312a8.flex-element.widget-wrapper>[data-element-type] {
        padding: 8px 15px 8px 15px;
      }

      #de7312a8 {
        width: 90.90227255681393%;
        height: auto;
        max-width: 100%;
        justify-self: auto;
        align-self: auto;
        order: 1;
        grid-area: auto / auto / auto / auto;
      }
    }
  </style>
  <style id="grid-styles-tablet-53335634-d9bf9c7ce4954630991968de8db4106c" data-page-uuid="d9bf9c7ce4954630991968de8db4106c">
    @media (min-width: 768px) and (max-width: 1024px) {
      #e502a7d3 {
        width: 51.65%;
        order: 0;
      }

      #\37 6cc7720 {
        justify-self: auto;
        align-self: center;
        width: 61.54%;
        order: 2;
        margin: 0px 0% 0px 0%;
        grid-area: auto / auto / auto / auto;
      }

      #\34 201b54a {
        order: 1;
      }

      #\34 0887194 {
        padding-right: 2%;
      }
    }
  </style>
  <style id="grid-styles-mobile-53335634-d9bf9c7ce4954630991968de8db4106c" data-page-uuid="d9bf9c7ce4954630991968de8db4106c">
    @media (max-width: 767px) {
      #e502a7d3 {
        width: 100.00%;
      }

      #\37 6cc7720 {
        width: 100.00%;
      }

      #\32 c24cdd7 {
        height: 24px;
        width: 6.133333333333333%;
      }

      #\34 0887194 {
        min-height: 0;
        flex-direction: column;
        padding-left: 4%;
        padding-right: 4%;
        flex-wrap: nowrap;
      }

      #c861b172 {
        min-height: 80px;
        align-items: center;
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
      }

      #de7312a8 {
        width: 93.87%;
      }
    }
  </style>
  <style id="grid-styles-common-0c43d53d-d9bf9c7ce4954630991968de8db4106c" data-page-uuid="d9bf9c7ce4954630991968de8db4106c">
    @media all {
      #\32 2094000 {
        padding-top: 4%;
        padding-bottom: 4%;
        min-height: 240px;
        column-gap: 4%;
        row-gap: 24px;
        width: 100%;
        flex-wrap: nowrap;
      }

      #\32 3955603::before,
      #\32 3955603>.bgExtraLayerOverlay {}

      #\32 3955603 {
        min-height: 8px;
        column-gap: 4%;
        row-gap: 24px;
        width: 100%;
        min-width: 4%;
        background-image: url();
        border-radius: 0px 0px 0px 0px;
        padding: 16px 16px 16px 16px;
      }

      #c56fca44 {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        max-width: 100%;
        width: 100%;
        min-height: 160px;
        max-height: 100%;
        justify-self: auto;
        align-self: auto;
        order: 1;
        grid-area: auto / auto / auto / auto;
      }

      #\30 03418c4 {
        width: 100%;
        height: auto;
        max-width: 100%;
        justify-self: auto;
        align-self: auto;
        order: 0;
        grid-area: auto / auto / auto / auto;
      }

      #\31 aa63916::before,
      #\31 aa63916>.bgExtraLayerOverlay {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 1);
        opacity: 0.63;
        border-radius: inherit;
      }

      #\31 aa63916 {
        background-image: url(https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/918-2880w.jpg);
        background-repeat: repeat;
        background-size: auto;
      }
    }
  </style>
  <style id="grid-styles-tablet-0c43d53d-d9bf9c7ce4954630991968de8db4106c" data-page-uuid="d9bf9c7ce4954630991968de8db4106c">
    @media (min-width: 768px) and (max-width: 1024px) {
      #\32 2094000 {
        padding-left: 2%;
        padding-right: 2%;
      }

      #\32 3955603::before,
      #\32 3955603>.bgExtraLayerOverlay {}

      #\30 03418c4 {
        justify-self: auto;
        align-self: auto;
        width: 100%;
        order: 0;
        margin: 0px 0% 0px 0%;
        grid-area: auto / auto / auto / auto;
      }

      #\31 aa63916::before,
      #\31 aa63916>.bgExtraLayerOverlay {}
    }
  </style>
  <style id="grid-styles-mobile-0c43d53d-d9bf9c7ce4954630991968de8db4106c" data-page-uuid="d9bf9c7ce4954630991968de8db4106c">
    @media (max-width: 767px) {
      #\32 2094000 {
        min-height: 0;
        flex-direction: column;
        padding-left: 4%;
        padding-right: 4%;
        flex-wrap: nowrap;
      }

      #\32 3955603::before,
      #\32 3955603>.bgExtraLayerOverlay {}

      #\32 3955603 {
        width: 100%;
        min-height: 80px;
        align-items: center;
      }

      #\31 aa63916::before,
      #\31 aa63916>.bgExtraLayerOverlay {}
    }
  </style>
  <style id="grid-styles-common-flex-footer-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media all {
      #flex-footer {
        background-color: var(--color_1);
        background-image: initial;
      }
    }
  </style>
  <style id="grid-styles-tablet-flex-footer-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 768px) and (max-width: 1024px) {
      #flex-footer {}
    }
  </style>
  <style id="grid-styles-mobile-flex-footer-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (max-width: 767px) {
      #flex-footer {}
    }
  </style>
  <style id="grid-styles-common-flex-header-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media all {
      #flex-header[data-changeable-on-scroll][data-scrolling] [data-widget-type="image"] img {
        transform: scale(0.92);
      }

      #flex-header {
        background-color: rgba(0, 0, 0, 1);
        background-image: initial;
      }

      #flex-header[data-changeable-on-scroll][data-scrolling] {
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: rgba(0, 0, 0, 1);
        background-image: initial;
      }
    }
  </style>
  <style id="grid-styles-desktop-flex-header-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 1025px) {}
  </style>
  <style id="grid-styles-tablet_implicit-flex-header-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 768px) and (max-width: 1024px) {}
  </style>
  <style id="grid-styles-tablet-flex-header-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 768px) and (max-width: 1024px) {
      #flex-header {}
    }
  </style>
  <style id="grid-styles-mobile_implicit-flex-header-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (max-width: 767px) {}
  </style>
  <style id="grid-styles-mobile-flex-header-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (max-width: 767px) {
      #flex-header {}
    }
  </style>
  <style id="grid-styles-common-708172a5-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media all {
      #\32 ebfd75b {
        width: 100%;
        height: auto;
        max-width: 100%;
        justify-self: auto;
        order: 0;
        grid-area: auto / auto / auto / auto;
      }

      #\31 681b29c {
        width: 60px;
        height: 60px;
        max-width: 100%;
      }

      #\33 c55328d.flex-element.widget-wrapper>[data-element-type] {
        padding-top: 0%;
      }

      #\33 c55328d {
        width: 241px;
        height: 45px;
        max-width: 100%;
        order: 0;
        grid-area: auto / auto / auto / auto;
      }

      #\35 9ff9586 {
        width: 191px;
        height: auto;
        max-width: 100%;
        justify-self: auto;
        align-self: auto;
        order: 0;
        grid-area: auto / auto / auto / auto;
      }

      #\30 df967b5 {
        min-height: 8px;
        column-gap: 4%;
        row-gap: 24px;
        flex-direction: row;
        width: 10%;
        justify-content: flex-end;
        align-items: center;
        min-width: 4%;
        padding: 16px 16px 16px 16px;
      }

      #\39 3ef7070 {
        flex-direction: row;
        align-items: center;
        width: 70%;
        min-width: 4%;
        min-height: 8px;
        column-gap: 4%;
        row-gap: 24px;
        padding: 6px 16px 6px 16px;
      }

      #f272493c {
        min-height: 102px;
        column-gap: 0%;
        row-gap: 0px;
        max-width: none;
        width: 100%;
        padding: 10px 4% 10px 4%;
      }

      #\32 e4acb2a {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 10%;
        min-width: 4%;
        min-height: 8px;
        column-gap: 4%;
        row-gap: 24px;
        padding: 6px 16px 6px 16px;
      }

      #\39 d6be6d0 {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 20%;
        min-width: 4%;
        min-height: 8px;
        column-gap: 4%;
        row-gap: 24px;
        padding: 6px 16px 6px 16px;
      }

      #\36 7e29e60:hover svg,
      #\36 7e29e60.hover svg {
        fill: var(--color_7);
      }

      #\36 7e29e60 svg {
        fill: var(--color_6);
      }

      #\36 7e29e60 {
        width: 30px;
        height: 30px;
        max-width: 100%;
      }
    }
  </style>
  <style id="grid-styles-tablet-708172a5-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 768px) and (max-width: 1024px) {
      #\31 681b29c {
        width: 32px;
        height: 32px;
        order: 0;
      }

      #\33 c55328d {
        width: 235px;
        justify-self: auto;
        align-self: auto;
        order: 1;
        margin: 0px 0% 0px 0%;
        grid-area: auto / auto / auto / auto;
      }

      #\35 9ff9586 {
        width: 173px;
        height: auto;
      }

      #\30 df967b5 {
        order: 3;
        width: 9.41%;
        min-height: 8px;
      }

      #\39 3ef7070 {
        width: 20.7%;
        order: 1;
        justify-content: flex-end;
        padding-right: 50px;
      }

      #f272493c {
        padding-left: 2%;
        padding-right: 2%;
        flex-direction: row;
        flex-wrap: nowrap;
        min-height: 0px;
      }

      #\32 e4acb2a {
        width: 44.95757142857143%;
        margin-left: -0.0011659701492537314%;
        justify-content: flex-start;
        order: 0;
        min-height: 8px;
      }

      #\39 d6be6d0 {
        width: 45.55028571428571%;
        order: 2;
        justify-content: flex-end;
        min-height: 8px;
      }

      #\36 7e29e60 {
        justify-self: auto;
        align-self: auto;
        order: 0;
        margin: 0px 0% 0px 0%;
        grid-area: auto / auto / auto / auto;
      }
    }
  </style>
  <style id="grid-styles-mobile-708172a5-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (max-width: 767px) {
      #\31 681b29c {
        width: 32px;
        height: 32px;
      }

      #\35 9ff9586 {
        width: 110px;
        height: auto;
      }

      #\30 df967b5 {
        align-items: center;
        width: 18%;
        order: 3;
      }

      #\39 3ef7070 {
        width: 9.30%;
        order: 2;
      }

      #f272493c {
        padding-left: 2%;
        padding-right: 2%;
        min-height: 0px;
      }

      #\32 e4acb2a {
        width: 52.14389534883721%;
        justify-content: center;
        order: 1;
      }

      #\39 d6be6d0 {
        width: 20.5%;
        order: 0;
        justify-content: flex-start;
      }

      #\36 7e29e60 {
        justify-self: auto;
        align-self: auto;
        order: 0;
        margin: 0px 0% 0px 0%;
        grid-area: auto / auto / auto / auto;
      }
    }
  </style>
  <style id="grid-styles-common-18f5ea00-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media all {
      #\39 d047ce9 {
        min-height: 8px;
        column-gap: 4%;
        row-gap: 24px;
        width: 100%;
        min-width: 4%;
        align-items: flex-end;
        padding: 16px 16px 16px 16px;
      }

      #a1f8711f {
        padding-top: 2%;
        padding-bottom: 2%;
        min-height: 100px;
        column-gap: 4%;
        row-gap: 24px;
        width: 100%;
      }

      #\31 2a003a5 a {
        background-color: rgba(0, 0, 0, 0);
      }

      #\31 2a003a5 svg {
        fill: rgba(120, 120, 120, 1);
      }

      #\31 2a003a5 {
        width: 30px;
        height: 30px;
      }
    }
  </style>
  <style id="grid-styles-tablet-18f5ea00-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 768px) and (max-width: 1024px) {
      #a1f8711f {
        padding-left: 4%;
        padding-right: 4%;
      }

      #\31 2a003a5 {
        justify-self: auto;
        align-self: auto;
        order: 0;
        margin: 0px 0% 0px 0%;
        grid-area: auto / auto / auto / auto;
      }
    }
  </style>
  <style id="grid-styles-mobile-18f5ea00-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (max-width: 767px) {
      #\39 d047ce9 {
        width: 100%;
        min-height: 80px;
      }

      #a1f8711f {
        min-height: unset;
        flex-direction: column;
        padding-left: 4%;
        padding-right: 4%;
      }
    }
  </style>
  <style id="grid-styles-common-63a049320d35b55b4ef2a372-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media all {
      #\36 3a049320d35b55b4ef2a374 {
        min-height: 8px;
        column-gap: 4%;
        row-gap: 24px;
        width: 100%;
        min-width: 4%;
        background-color: rgba(0, 0, 0, 0);
        padding: 16px 16px 16px 16px;
      }

      #\36 3a049320d35b55b4ef2a376 {
        background-color: rgba(0, 0, 0, 0);
      }

      #\36 3a049320d35b55b4ef2a377 {
        min-height: 200px;
        padding-top: 2%;
        padding-bottom: 2%;
        column-gap: 4%;
        row-gap: 24px;
        width: 100%;
      }

      #\36 3a049ca0d35b55b4ef2a5c3 {
        width: 544px;
        height: auto;
        max-width: 100%;
        justify-self: auto;
        align-self: auto;
        order: 0;
        grid-area: auto / auto / auto / auto;
      }

      #\36 2d6a167a824ca526194d9a5 {
        background-color: rgba(232, 255, 133, 1);
      }
    }
  </style>
  <style id="grid-styles-tablet-63a049320d35b55b4ef2a372-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 768px) and (max-width: 1024px) {
      #\36 3a049320d35b55b4ef2a374 {
        justify-content: flex-start;
        padding-top: 16px;
      }

      #\36 3a049320d35b55b4ef2a377 {
        min-height: 302px;
        padding: 0% 4% 0% 4%;
      }
    }
  </style>
  <style id="grid-styles-mobile-63a049320d35b55b4ef2a372-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (max-width: 767px) {
      #\36 3a049320d35b55b4ef2a374 {
        min-height: 50vh;
        justify-content: flex-start;
        padding-top: 100px;
        width: 100%;
      }

      #\36 3a049320d35b55b4ef2a377 {
        min-height: unset;
        flex-direction: column;
        padding: 0% 4% 0% 4%;
      }

      #\36 3a049ca0d35b55b4ef2a5c3 {
        align-self: flex-start;
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  </style>
  <style id="grid-styles-common-6406026c90e1521f6ecb0eca-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media all {
      #\36 406026c90e1521f6ecb0ecd {
        min-height: 8px;
        column-gap: 4%;
        row-gap: 24px;
        width: 100%;
        min-width: 4%;
        padding: 16px 16px 16px 16px;
      }

      #\36 406026c90e1521f6ecb0ecc {
        min-height: 460px;
        padding-top: 4%;
        padding-bottom: 4%;
        column-gap: 4%;
        row-gap: 24px;
        width: 100%;
      }

      #widget_s4l {
        width: 100%;
        height: auto;
        max-width: 100%;
        order: 1;
      }
    }
  </style>
  <style id="grid-styles-desktop-6406026c90e1521f6ecb0eca-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 1025px) {
      #widget_s4l {
        justify-self: auto;
        align-self: auto;
        width: 95.8158273381295%;
        grid-area: auto / auto / auto / auto;
      }
    }
  </style>
  <style id="grid-styles-tablet-6406026c90e1521f6ecb0eca-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 768px) and (max-width: 1024px) {
      #\36 406026c90e1521f6ecb0ecc {
        min-height: 374px;
        padding: 0% 4% 0% 4%;
      }

      #\36 406026c90e1521f6ecb0ecd {
        justify-content: flex-end;
        padding-bottom: 100px;
      }

      #widget_s4l {
        justify-self: auto;
        align-self: auto;
        width: 100%;
        order: 0;
        margin: 0px 0% 0px 0%;
        grid-area: auto / auto / auto / auto;
      }
    }
  </style>
  <style id="grid-styles-mobile-6406026c90e1521f6ecb0eca-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (max-width: 767px) {
      #\36 406026c90e1521f6ecb0ecd {
        min-height: 50vh;
        justify-content: flex-end;
        padding-bottom: 100px;
        width: 100%;
      }

      #\36 406026c90e1521f6ecb0ecc {
        min-height: unset;
        flex-direction: column;
        padding: 0% 4% 0% 4%;
      }

      #widget_s4l {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  </style>
  <style id="grid-styles-common-23725394-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media all {
      #\30 3b9d444 {
        min-height: 80px;
        column-gap: 0%;
        row-gap: 0px;
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
        flex-wrap: nowrap;
      }

      #\35 c6391d3 {
        min-height: 8px;
        column-gap: 4%;
        row-gap: 24px;
        width: 100%;
        align-items: center;
        min-width: 4%;
        flex-wrap: nowrap;
        background-color: rgba(0, 0, 0, 1);
        background-image: initial;
        padding: 16px 16px 16px 16px;
      }

      #widget_ao0 {
        width: 364px;
        height: auto;
        max-width: 100%;
        align-self: center;
        margin: 0px 0% 0px 0%;
      }

      #b57c8772 {
        background-color: rgba(0, 0, 0, 1);
        background-image: initial;
      }
    }
  </style>
  <style id="grid-styles-tablet-23725394-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 768px) and (max-width: 1024px) {
      #\30 3b9d444 {
        padding-left: 4%;
        padding-right: 4%;
      }
    }
  </style>
  <style id="grid-styles-mobile-23725394-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (max-width: 767px) {
      #\30 3b9d444 {
        flex-direction: row;
        padding-left: 4%;
        padding-right: 4%;
        flex-wrap: nowrap;
        min-height: 80px;
      }

      #\35 c6391d3 {
        width: 100%;
        align-items: center;
        min-height: 8px;
      }
    }
  </style>
  <style id="grid-styles-common-0faa1034-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media all {
      #\38 c109f68 {
        background-color: rgba(0, 0, 0, 1);
        background-image: initial;
      }

      #\36 b90a366 {
        width: 100.00%;
        height: auto;
        max-width: 100%;
        justify-self: auto;
        align-self: auto;
        order: 5;
        grid-area: auto / auto / auto / auto;
      }

      #\32 9a98df1 {
        width: 100.00%;
        height: auto;
        max-width: 100%;
        justify-self: auto;
        align-self: auto;
        order: 6;
        grid-area: auto / auto / auto / auto;
      }

      #\31 6ff6318 {
        width: 93.24%;
        height: auto;
        max-width: 100%;
        align-self: auto;
        order: 1;
        grid-area: auto / auto / auto / auto;
      }

      #\34 7fd1300 {
        justify-content: flex-start;
        width: 32.666666666666664%;
        min-width: 4%;
        min-height: 8px;
        column-gap: 4%;
        row-gap: 15px;
        align-items: center;
        padding-left: 2%;
        padding-right: 2%;
        order: 1;
      }

      #aeb1341c {
        min-height: 230px;
        column-gap: 1%;
        row-gap: 6px;
        width: 100%;
        flex-wrap: nowrap;
        padding: 10px 2% 10px 2%;
      }

      #widget_mi5 {
        width: 97.49295396904061%;
        height: auto;
        max-width: 100%;
        align-self: auto;
        order: 0;
        grid-area: auto / auto / auto / auto;
      }

      #widget_aot {
        width: 100.00%;
        height: auto;
        max-width: 100%;
        justify-self: auto;
        align-self: auto;
        order: 3;
        grid-area: auto / auto / auto / auto;
      }

      #widget_gb6 {
        width: 96.1441936066462%;
        height: auto;
        max-width: 100%;
        align-self: auto;
        order: 2;
        grid-area: auto / auto / auto / auto;
      }

      #group_b8j {
        justify-content: flex-start;
        width: 32.666666666666664%;
        min-width: 4%;
        min-height: 8px;
        column-gap: 4%;
        row-gap: 15px;
        order: 2;
        padding-right: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
      }

      #group_ho3 {
        justify-content: flex-start;
        width: 32.666666666666664%;
        min-width: 4%;
        min-height: 8px;
        column-gap: 4%;
        row-gap: 15px;
        order: 0;
        padding-right: 16px;
        padding-left: 16px;
      }

      #\34 dcafe72 {
        width: 100%;
        height: auto;
        max-width: 100%;
        align-self: auto;
        order: 0;
        justify-self: auto;
        grid-area: auto / auto / auto / auto;
      }

      #widget_g4o {
        width: 100%;
        height: auto;
        max-width: 100%;
        align-self: stretch;
        order: 1;
      }
    }
  </style>
  <style id="grid-styles-tablet-0faa1034-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 768px) and (max-width: 1024px) {
      #\31 6ff6318 {
        width: 85.54%;
      }

      #aeb1341c {
        min-height: 205px;
      }
    }
  </style>
  <style id="grid-styles-mobile-0faa1034-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (max-width: 767px) {
      #\36 b90a366 {
        width: 40.00%;
      }

      #\32 9a98df1 {
        width: 90.47%;
      }

      #\31 6ff6318 {
        width: 99.87%;
      }

      #\34 7fd1300 {
        width: 100%;
        min-height: 80px;
        align-items: center;
        padding-top: 0px;
        justify-content: flex-start;
        order: 1;
      }

      #aeb1341c {
        min-height: 0;
        flex-direction: column;
        padding-bottom: 20px;
        padding-left: 24px;
        padding-right: 24px;
        flex-wrap: nowrap;
      }

      #widget_aot {
        width: 100%;
      }

      #group_b8j {
        width: 100%;
        min-height: 80px;
        align-items: center;
        order: 2;
      }

      #group_ho3 {
        width: 100%;
        min-height: 80px;
        align-items: center;
        order: 0;
      }

      #\34 dcafe72 {
        width: 100%;
      }
    }
  </style>
  <style id="grid-styles-common-036a4544-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media all {
      #\36 cef9f03 {
        min-height: 24px;
        column-gap: 0%;
        row-gap: 0px;
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
        flex-wrap: nowrap;
      }

      #\33 5daa636 {
        min-height: 8px;
        column-gap: 4%;
        row-gap: 24px;
        flex-direction: row;
        width: 100%;
        align-items: center;
        min-width: 4%;
        flex-wrap: nowrap;
        padding: 16px 16px 16px 16px;
      }

      #widget_f33 {
        width: 733px;
        height: auto;
        max-width: 100%;
        order: 0;
        justify-self: auto;
        margin: 0px 0% 0px 0%;
        grid-area: auto / auto / auto / auto;
      }

      #\35 dac85eb {
        background-color: rgba(0, 0, 0, 1);
        background-image: initial;
      }
    }
  </style>
  <style id="grid-styles-tablet-036a4544-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 768px) and (max-width: 1024px) {
      #\36 cef9f03 {
        padding-left: 4%;
        padding-right: 4%;
      }
    }
  </style>
  <style id="grid-styles-mobile-036a4544-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (max-width: 767px) {
      #\36 cef9f03 {
        flex-direction: row;
        padding-left: 4%;
        padding-right: 4%;
        flex-wrap: nowrap;
        min-height: 80px;
      }

      #\33 5daa636 {
        width: 100%;
        align-items: center;
        min-height: 8px;
      }

      #widget_f33 {
        align-self: center;
        margin-left: 0px;
        margin-right: 0px;
        width: 202px;
      }
    }
  </style>
  <style id="grid-styles-common-3bc0ec44-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media all {
      #\36 16cc8c5 {
        min-height: 240px;
        column-gap: 4%;
        row-gap: 24px;
        max-width: none;
        width: 100%;
        flex-wrap: nowrap;
      }

      #\38 9c74eee {
        grid-template-rows: minmax(300px, max-content);
        width: 100%;
        max-width: 100%;
      }

      #d01c6376 {
        min-height: 8px;
        column-gap: 4%;
        row-gap: 24px;
        width: 100%;
        min-width: 4%;
      }

      #widget_flk {
        width: 60px;
        height: auto;
        position: relative;
        max-width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-right: 40px;
        margin-left: 40px;
        justify-self: end;
        align-self: end;
      }
    }
  </style>
  <style id="grid-styles-tablet-3bc0ec44-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (min-width: 768px) and (max-width: 1024px) {
      #\36 16cc8c5 {
        padding-left: 2%;
        padding-right: 2%;
      }
    }
  </style>
  <style id="grid-styles-mobile-3bc0ec44-420bcb4734d34da19e5f15867d6a7164" data-page-uuid="420bcb4734d34da19e5f15867d6a7164" data-is-header="true">
    @media (max-width: 767px) {
      #\36 16cc8c5 {
        min-height: 0;
        flex-direction: column;
        padding-left: 4%;
        padding-right: 4%;
        flex-wrap: nowrap;
      }

      #d01c6376 {
        width: 100%;
        min-height: 80px;
        align-items: center;
      }

      #widget_flk {
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 100%;
        margin-right: 20px;
      }
    }
  </style>
  <style id="globalFontSizeStyle" type="text/css">
    @media (min-width: 1025px) {

      [data-version] .size-16,
      [data-version] .font-size-16 {
        font-size: 16px !important;
      }

      [data-version] .size-24,
      [data-version] .font-size-24 {
        font-size: 24px !important;
      }

      [data-version] .size-18,
      [data-version] .font-size-18 {
        font-size: 18px !important;
      }
    }

    @media (min-width: 768px) and (max-width: 1024px) {

      [data-version] .t-size-16,
      [data-version] .t-font-size-16 {
        font-size: 16px !important;
      }

      [data-version] .t-size-20,
      [data-version] .t-font-size-20 {
        font-size: 20px !important;
      }
    }

    @media (max-width: 767px) {

      [data-version] .m-size-18,
      [data-version] .m-font-size-18 {
        font-size: 18px !important;
      }

      [data-version] .m-size-16,
      [data-version] .m-font-size-16 {
        font-size: 16px !important;
      }

      [data-version] .m-size-19,
      [data-version] .m-font-size-19 {
        font-size: 19px !important;
      }
    }
  </style>
  <style id="pageFontSizeStyle" type="text/css">
  </style>
  <style id="hideAnimFix">
    .dmDesktopBody:not(.editGrid) [data-anim-desktop]:not([data-anim-desktop='none']),
    .dmDesktopBody:not(.editGrid) [data-anim-extended] {
      visibility: hidden;
    }

    .dmDesktopBody:not(.editGrid) .dmNewParagraph[data-anim-desktop]:not([data-anim-desktop='none']),
    .dmDesktopBody:not(.editGrid) .dmNewParagraph[data-anim-extended] {
      visibility: hidden !important;
    }

    #dmRoot:not(.editGrid) .flex-element [data-anim-extended] {
      visibility: hidden;
    }
  </style>
  <style id="fontFallbacks">
    @font-face {
      font-family: "Raleway Fallback";
      src: local('Arial');
      ascent-override: 89.616%;
      descent-override: 22.3087%;
      size-adjust: 104.892%;
      line-gap-override: 0%;
    }

    @font-face {
      font-family: "Poppins Fallback";
      src: local('Arial');
      ascent-override: 92.326%;
      descent-override: 30.7753%;
      line-gap-override: 8.793%;
      size-adjust: 113.7274%;
    }

    @font-face {
      font-family: "Quicksand Fallback";
      src: local('Arial');
      ascent-override: 94.9261%;
      descent-override: 23.7315%;
      size-adjust: 105.3451%;
      line-gap-override: 0%;
    }
  </style>
  <!-- End render the required css and JS in the head section -->

  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.bangbangautodetailing.com/see-our-work" />
  <title>
    Detailing Works Gallery | Bang Bang Auto Detailing

  </title>
  <meta name="description" content="From deep cleans to ceramic coatings, check out our detailing gallery at Bang Bang Auto Detailing and see the difference we make in Orlando, FL." />
  <meta name="google-site-verification" content="62UuktzIjpheTufmrBeShFh4p_U65mgdQq4ssYtAo24" />
  <script type="application/ld+json">

{
  "@context": "https://schema.org/",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "#1 Auto Detailing in Orlando",
    "item": "https://www.bangbangautodetailing.com/"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "About Bang Bang Auto Detailing",
    "item": "https://www.bangbangautodetailing.com/about-us"
  },{
    "@type": "ListItem",
    "position": 3,
    "name": "Our Services",
    "item": "https://www.bangbangautodetailing.com/services"
  },{
    "@type": "ListItem",
    "position": 4,
    "name": "Full Exterior and Interior Car Detailing",
    "item": "https://www.bangbangautodetailing.com/full-exterior-and-interior-detail"
  },{
    "@type": "ListItem",
    "position": 5,
    "name": "Expert Motorcycle Detailing Service",
    "item": "https://www.bangbangautodetailing.com/motorcycles-detailing"
  },{
    "@type": "ListItem",
    "position": 6,
    "name": "Paint Correction and Trim Restoration Service",
    "item": "https://www.bangbangautodetailing.com/paint-and-trim-restoration"
  },{
    "@type": "ListItem",
    "position": 7,
    "name": "Expert Vinyl Removal Service",
    "item": "https://www.bangbangautodetailing.com/vinyl-removal"
  },{
    "@type": "ListItem",
    "position": 8,
    "name": "Expert Boats Detailing Service",
    "item": "https://www.bangbangautodetailing.com/boats-detailing"
  },{
    "@type": "ListItem",
    "position": 9,
    "name": "Expert RVs Detailing Service",
    "item": "https://www.bangbangautodetailing.com/rvs-detailing"
  },{
    "@type": "ListItem",
    "position": 10,
    "name": "Detailing Works Gallery",
    "item": "https://www.bangbangautodetailing.com/see-our-work"
  },{
    "@type": "ListItem",
    "position": 11,
    "name": "Contact Us",
    "item": "https://www.bangbangautodetailing.com/contact-us"
  }]
}
  

  </script>
  <script type="application/ld+json">

{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Bang Bang Auto Detailing",
  "alternateName": "Bang Bang Auto Detailing",
  "url": "https://www.bangbangautodetailing.com/",
  "logo": "https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/bangbanglogo-173w.png",
  "sameAs": [
    "https://www.facebook.com/BangBangdetail",
    "https://www.instagram.com/bangbangdetail/"
  ]
}
  

  </script>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Detailing Works Gallery | Bang Bang Auto Detailing" />
  <meta name="twitter:description" content="From deep cleans to ceramic coatings, check out our detailing gallery at Bang Bang Auto Detailing and see the difference we make in Orlando, FL." />
  <meta name="twitter:image" content="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/209-1920w.jpg" />
  <meta property="og:description" content="From deep cleans to ceramic coatings, check out our detailing gallery at Bang Bang Auto Detailing and see the difference we make in Orlando, FL." />
  <meta property="og:title" content="Detailing Works Gallery | Bang Bang Auto Detailing" />
  <meta property="og:image" content="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/209-1920w.jpg" />
  <!-- SYS- VVNfRElSRUNUX1BST0RVQ1RJT04= -->
</head>

<body id="dmRoot" data-page-alias="see-our-work" class="dmRoot fix-mobile-scrolling flex-site dmResellerSite " style="padding:0;margin:0;" data-flex-site>
  <!-- ========= Site Content ========= -->
  <div id="dm" class='dmwr'>
    <div class="dm_wrapper -var5 null ">
      <div dmwrapped="true" id="1901957768" class="dm-home-page" themewaschanged="true">
        <div dmtemplateid="FlexHeader" data-responsive-name="FlexLayout" class="runtime-module-container dm-bfs dm-layout-sec hasAnimations hasStickyHeader inMiniHeaderMode rows-1200 hamburger-reverse dmPageBody d-page-1716942098 dmDHeader" id="dm-outer-wrapper" data-page-class="1716942098" data-soch="true" data-background-parallax-selector=".dmHomeSection1, .dmSectionParallex">
          <div id="dmStyle_outerContainer" class="dmOuter">
            <div id="dmStyle_innerContainer" class="dmInner">
              <div class="dmLayoutWrapper standard-var dmStandardDesktop">
                <div id="site_content">
                  {% include "header.liquid" %}
                  <div dmwrapped="true" id="dmFirstContainer" class="dmBody u_dmStyle_template_see-our-work dm-home-page" themewaschanged="true">
                    <div id="allWrapper" class="allWrapper"><!-- navigation placeholders -->
                      <div id="dm_content" class="dmContent">
                        <div dm:templateorder="170" class="dmHomeRespTmpl mainBorder dmRespRowsWrapper dmFullRowRespTmpl" id="1716942098">
                          <div data-auto="flex-section" id="1715560983" data-flex-id="53335634" data-layout-section="" data-page-element-type="section" data-page-element-id="1571026692">
                            <div class="flex-widgets-container" id="1907959583"></div>
                            <section id="c023c825" class="flex-element section" data-auto="flex-element-section">
                              <div id="1714f9e9" class="flex-element grid" data-auto="flex-element-grid" data-layout-grid="">
                                <div id="40887194" class="flex-element group" data-auto="flex-element-group">
                                  <div id="c861b172" class="flex-element group" data-auto="flex-element-group">
                                    <div id="e502a7d3" class="flex-element group" data-auto="flex-element-group">
                                      <div id="2c24cdd7" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="image" data-external-id="1847326998">
                                        <div class="imageWidget align-center u_1847326998" data-element-type="image" data-widget-type="image" id="1847326998"><img src="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/search-1920w.png" alt="car detailing gallery icon" id="1573511112" class="" width="256" height="256" data-dm-image-path="https://irp.cdn-website.com/d9511e89/dms3rep/multi/search.png" onerror="handleImageLoadError(this)" /></div>
                                      </div>
                                      <div id="de7312a8" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="paragraph" data-external-id="1182740275">
                                        <div class="dmNewParagraph u_1182740275" data-element-type="paragraph" data-version="5" id="1182740275" style="" new-inline-bind-applied="true" data-diy-text="">
                                          <p class="m-size-18 text-align-center" style="line-height: initial;"><strong class="m-font-size-18" m-font-size-set="true" style="display: initial; color: var(--color_3);"><span class="inline-data-binding" data-encoded-value="QmFuZyBCYW5nIEF1dG8gRGV0YWlsaW5n" data-inline-binding="content_library.global.company_name" data-inline-binding-encoded="Y29udGVudF9saWJyYXJ5Lmdsb2JhbC5jb21wYW55X25hbWU=">Bang Bang Auto Detailing</span></strong></p>
                                        </div>
                                      </div>
                                    </div>
                                    <div id="4201b54a" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="paragraph" data-external-id="1244816851">
                                      <div class="dmNewParagraph" data-element-type="paragraph" data-version="5" id="1244816851" style="">
                                        <h1 class="text-align-center" style="line-height: 1.3;"><span style="display: initial;">See Our Works<span class="ql-cursor">﻿</span></span></h1>
                                      </div>
                                    </div>
                                    <div id="76cc7720" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="paragraph" data-external-id="1635847213">
                                      <div class="dmNewParagraph" data-element-type="paragraph" data-version="5" id="1635847213" style="">
                                        <p style="letter-spacing: var(--framer-letter-spacing, 0); line-height: 1.5;" class="text-align-center m-size-16 t-size-16 size-16 t-text-align-center"><span style="color: var(--color_8); font-style: var(--framer-font-style, normal); font-weight: var(--framer-font-weight, 400); display: initial;" class="m-font-size-16 t-font-size-16 font-size-16">We combine top-rated maid and home cleaning services with unbeatable customer service to create a stress free experience.&nbsp;</span></p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                          </div>
                          <div data-layout-section="" data-auto="flex-section" id="1541388660" data-flex-id="0c43d53d" class="">
                            <div class="flex-widgets-container" id="1141930541"></div>
                            <section id="3561c845" class="flex-element section" data-auto="flex-element-section">
                              <div id="1aa63916" class="flex-element grid" data-auto="flex-element-grid" data-layout-grid="">
                                <div id="22094000" class="flex-element group" data-auto="flex-element-group">
                                  <div id="23955603" class="flex-element group" data-auto="flex-element-group">
                                    <div id="c56fca44" class="flex-element group" data-auto="flex-element-group">
                                      <div id="003418c4" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="photoGallery" data-external-id="1337659927">
                                        <div class="dmPhotoGallery newPhotoGallery dmPhotoGalleryResp u_1337659927 hasShadow" galleryoptionsparams="{thumbnailsPerRow: 3, rowsToShow: 3, imageScaleMethod: true}" data-desktop-layout="asymetric3" data-desktop-columns="2" data-element-type="dPhotoGalleryId" data-desktop-text-layout="over" id="1337659927" data-placeholder="false" data-rows-to-show="100" data-image-hover-effect="zoomout">
                                          <ul class="dmPhotoGalleryHolder clearfix gallery shadowEffectToChildren gallery4inArow" id="1723829223">
                                            <li class="photoGalleryThumbs" id="1949359812">
                                              <div class="image-container" id="1983479476"> <a data-dm-multisize-attr="href" data-image-url="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+5-1fd84cff.jpg" id="1310342512"><img irh="" irw="" alt="Auto detailing Orlando" data-src="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+5-1fd84cff-1920w.jpg" id="1796256683" class="" onerror="handleImageLoadError(this)" /></a>
                                              </div>
                                              <div class="caption-container" style="display:none" id="1413757297"> <span class="caption-inner" id="1318068150"> <a class="caption-button dmWidget clearfix" id="1558851563"> <span class="iconBg" id="1750401705"> <span class="icon hasFontIcon icon-star" id="1366185585"></span>
                                                    </span>
                                                    <span class="text" id="1315691481">Button</span>
                                                  </a>
                                                </span>
                                              </div>
                                            </li>
                                            <li class="photoGalleryThumbs" id="1713230161">
                                              <div class="image-container" id="1872914350"> <a data-dm-multisize-attr="href" data-image-url="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+2-5843f1d5.jpg" id="1099662103"><img irh="" irw="" alt="Car Detailing Orlando" data-src="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+2-5843f1d5-1920w.jpg" id="1802436126" class="" onerror="handleImageLoadError(this)" /></a>
                                              </div>
                                              <div class="caption-container" style="display:none" id="1741211936"> <span class="caption-inner" id="1935419954"> <a class="caption-button dmWidget clearfix" id="1348099422"> <span class="iconBg" id="1132105469"> <span class="icon hasFontIcon icon-star" id="1515232694"></span>
                                                    </span>
                                                    <span class="text" id="1656092403">Button</span>
                                                  </a>
                                                </span>
                                              </div>
                                            </li>
                                            <li class="photoGalleryThumbs" id="1602205388">
                                              <div class="image-container" id="1992224686"> <a data-dm-multisize-attr="href" data-image-url="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+1+1-2b489948.jpg" id="1906719815"><img irh="" irw="" alt="Ceramic coating Orlando" data-src="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+1+1-2b489948-1920w.jpg" id="1876558555" class="" onerror="handleImageLoadError(this)" /></a>
                                              </div>
                                              <div class="caption-container" style="display:none" id="1863189157"> <span class="caption-inner" id="1320931559"> <a class="caption-button dmWidget clearfix" id="1928705168"> <span class="iconBg" id="1866231803"> <span class="icon hasFontIcon icon-star" id="1581249974"></span>
                                                    </span>
                                                    <span class="text" id="1570016267">Button</span>
                                                  </a>
                                                </span>
                                              </div>
                                            </li>
                                            <li class="photoGalleryThumbs" id="1383563449">
                                              <div class="image-container" id="1827289564"> <a data-dm-multisize-attr="href" data-image-url="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+8-0f2c48e8.jpg" id="1659022326"><img irh="" irw="" alt="Auto detailing services" data-src="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+8-0f2c48e8-1920w.jpg" id="1070731833" class="" onerror="handleImageLoadError(this)" /></a>
                                              </div>
                                              <div class="caption-container" style="display:none" id="1690041805"> <span class="caption-inner" id="1290101327"> <a class="caption-button dmWidget clearfix" id="1770532303"> <span class="iconBg" id="1419792677"> <span class="icon hasFontIcon icon-star" id="1215620617"></span>
                                                    </span>
                                                    <span class="text" id="1822743204">Button</span>
                                                  </a>
                                                </span>
                                              </div>
                                            </li>
                                            <li class="photoGalleryThumbs" id="1616631664">
                                              <div class="image-container" id="1211726602"> <a data-dm-multisize-attr="href" data-image-url="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+1-eed1e4aa.jpg" id="1648010280"><img irh="" irw="" alt="Car detailing services" data-src="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+1-eed1e4aa-1920w.jpg" id="1923186489" class="" onerror="handleImageLoadError(this)" /></a>
                                              </div>
                                              <div class="caption-container" style="display:none" id="1276591047"> <span class="caption-inner" id="1015079252"> <a class="caption-button dmWidget clearfix" id="1118436675"> <span class="iconBg" id="1708888434"> <span class="icon hasFontIcon icon-star" id="1101515826"></span>
                                                    </span>
                                                    <span class="text" id="1887300816">Button</span>
                                                  </a>
                                                </span>
                                              </div>
                                            </li>
                                            <li class="photoGalleryThumbs" id="1066661859">
                                              <div class="image-container" id="1073735080"> <a data-dm-multisize-attr="href" data-image-url="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+9-9ac81812.jpg" id="1403256901"><img irh="" irw="" alt="Car detailing service" data-src="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+9-9ac81812-1920w.jpg" id="1232033789" class="" onerror="handleImageLoadError(this)" /></a>
                                              </div>
                                              <div class="caption-container" style="display:none" id="1606136556"> <span class="caption-inner" id="1659114027"> <a class="caption-button dmWidget clearfix" id="1823716996"> <span class="iconBg" id="1261314183"> <span class="icon hasFontIcon icon-star" id="1000807486"></span>
                                                    </span>
                                                    <span class="text" id="1814506742">Button</span>
                                                  </a>
                                                </span>
                                              </div>
                                            </li>
                                            <li class="photoGalleryThumbs" id="1705492249">
                                              <div class="image-container" id="1756895383"> <a data-dm-multisize-attr="href" data-image-url="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+6-defb7d8f.jpg" id="1801189122"><img irh="" irw="" alt="Car detailing" data-src="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+6-defb7d8f-1920w.jpg" id="1081276882" class="" onerror="handleImageLoadError(this)" /></a>
                                              </div>
                                              <div class="caption-container" style="display:none" id="1753989982"> <span class="caption-inner" id="1763825124"> <a class="caption-button dmWidget clearfix" id="1093918576"> <span class="iconBg" id="1065531505"> <span class="icon hasFontIcon icon-star" id="1354912606"></span>
                                                    </span>
                                                    <span class="text" id="1852947247">Button</span>
                                                  </a>
                                                </span>
                                              </div>
                                            </li>
                                            <li class="photoGalleryThumbs" id="1261857218">
                                              <div class="image-container" id="1383837958"> <a data-dm-multisize-attr="href" data-image-url="https://irp.cdn-website.com/d9511e89/dms3rep/multi/BANG+BANG+AUTO+DETAILING+7-3bf872bd.jpg" id="1578331881"><img irh="" irw="" alt="Auto detailing" data-src="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/BANG+BANG+AUTO+DETAILING+7-3bf872bd-1920w.jpg" id="1910757659" class="" onerror="handleImageLoadError(this)" /></a>
                                              </div>
                                              <div class="caption-container" style="display:none" id="1216737492"> <span class="caption-inner" id="1651033576"> <a class="caption-button dmWidget clearfix" id="1649060858"> <span class="iconBg" id="1741138350"> <span class="icon hasFontIcon icon-star" id="1198373826"></span>
                                                    </span>
                                                    <span class="text" id="1003408611">Button</span>
                                                  </a>
                                                </span>
                                              </div>
                                            </li>
                                          </ul>
                                          <div class="photoGalleryViewAll link" isall="true" data-viewall="View more" data-viewless="View less" style="display:none;" id="1853564508"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="dmFooterContainer flex_hfcontainer">
                    <div id="flex-footer">
                      <div data-layout-section="" data-auto="flex-section" id="1836428912" data-flex-id="23725394">
                        <div class="flex-widgets-container" id="1422630508"></div>
                        <section id="0395bca9" class="flex-element section" data-auto="flex-element-section">
                          <div id="b57c8772" class="flex-element grid" data-auto="flex-element-grid" data-layout-grid="">
                            <div id="03b9d444" class="flex-element group" data-auto="flex-element-group">
                              <div id="5c6391d3" class="flex-element group" data-auto="flex-element-group">
                                <div id="widget_ao0" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="image" data-keep-proportion="true" data-external-id="1804283178">
                                  <div class="imageWidget align-center" data-element-type="image" data-widget-type="image" id="1804283178"> <a href="/" id="1144918472"><img src="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/bang-bang-logo-header-1920w.png" alt="Car Detailing Near Me" id="1127852439" class="" width="1630" height="900" data-dm-image-path="https://irp.cdn-website.com/d9511e89/dms3rep/multi/bang-bang-logo-header.png" onerror="handleImageLoadError(this)" /></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                      <div data-flex-id="0faa1034" data-auto="flex-section" id="1431687500" data-layout-section="" data-page-element-type="section" data-page-element-id="1170576941">
                        <div class="flex-widgets-container" id="1589170975"></div>
                        <section id="d2f548c0" class="flex-element section" data-auto="flex-element-section">
                          <div id="8c109f68" class="flex-element grid" data-auto="flex-element-grid" data-layout-grid="">
                            <div id="aeb1341c" class="flex-element group" data-auto="flex-element-group">
                              <div id="group_ho3" class="flex-element group" data-auto="flex-element-group">
                                <div id="4dcafe72" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="paragraph" data-external-id="1629575435">
                                  <div class="dmNewParagraph" data-element-type="paragraph" data-version="5" id="1629575435" style="">
                                    <p class="m-size-19 m-text-align-center t-size-20 text-align-left size-24"><strong style="color:var(--color_7);font-weight:bold;display:unset;font-family:Raleway, 'Raleway Fallback';" class="m-font-size-19 t-font-size-20 font-size-24">Services</strong></p>
                                  </div>
                                </div>
                                <div id="widget_g4o" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="ONELinksMenu" data-external-id="1392233814">
                                  <nav class="u_1392233814 unifiednav_vertical effect-text-fill main-navigation unifiednav dmLinksMenu" role="navigation" layout-main="vertical_nav_layout_4" layout-sub="" data-show-vertical-sub-items="HOVER" id="1392233814" dmle_extension="onelinksmenu" data-element-type="onelinksmenu" data-logo-src="" alt="" data-nav-structure="VERTICAL" wr="true" icon="true" surround="true" adwords="" navigation-id="unifiedNav">
                                    <ul role="menubar" class="unifiednav__container  " data-auto="navigation-pages">
                                      <li role="menuitem" class=" unifiednav__item-wrap " data-auto="more-pages" data-depth="0"> <a href="/full-exterior-and-interior-detail" class="unifiednav__item    " target="" data-target-page-alias="full-exterior-and-interior-detail"> <span class="nav-item-text " data-link-text="Full Exterior and Interior Detail" data-auto="page-text-style">Full Exterior and Interior Detail<span class="icon icon-angle-down" data-hidden-on-mobile="" data-hidden-on-desktop="" data-hidden-on-tablet=""></span>
                                          </span>
                                        </a>
                                      </li>
                                      <li role="menuitem" class=" unifiednav__item-wrap " data-auto="more-pages" data-depth="0"> <a href="/ceramic-coating" class="unifiednav__item    " target="" data-target-page-alias="motorcycles-detailing"> <span class="nav-item-text " data-link-text="Ceramic Coating" data-auto="page-text-style">Ceramic Coating<span class="icon icon-angle-down" data-hidden-on-mobile="" data-hidden-on-desktop="" data-hidden-on-tablet=""></span>
                                          </span>
                                        </a>
                                      </li>
                                      <li role="menuitem" class=" unifiednav__item-wrap " data-auto="more-pages" data-depth="0"> <a href="/paint-and-trim-restoration" class="unifiednav__item    " target="" data-target-page-alias="paint-and-trim-restoration"> <span class="nav-item-text " data-link-text="Paint Correction" data-auto="page-text-style">Paint Correction<span class="icon icon-angle-down" data-hidden-on-mobile="" data-hidden-on-desktop="" data-hidden-on-tablet=""></span>
                                          </span>
                                        </a>
                                      </li>
                                      <li role="menuitem" class=" unifiednav__item-wrap " data-auto="more-pages" data-depth="0"> <a href="/vinyl-removal" class="unifiednav__item    " target="" data-target-page-alias="vinyl-removal"> <span class="nav-item-text " data-link-text="Vinyl Removal" data-auto="page-text-style">Vinyl Removal<span class="icon icon-angle-down" data-hidden-on-mobile="" data-hidden-on-desktop="" data-hidden-on-tablet=""></span>
                                          </span>
                                        </a>
                                      </li>
                                      <li role="menuitem" class=" unifiednav__item-wrap " data-auto="more-pages" data-depth="0"> <a href="/boats-detailing" class="unifiednav__item    " target="" data-target-page-alias="boats-detailing"> <span class="nav-item-text " data-link-text="Boats Detailing" data-auto="page-text-style">Boats Detailing<span class="icon icon-angle-down" data-hidden-on-mobile="" data-hidden-on-desktop="" data-hidden-on-tablet=""></span>
                                          </span>
                                        </a>
                                      </li>
                                      <li role="menuitem" class=" unifiednav__item-wrap " data-auto="more-pages" data-depth="0"> <a href="/rvs-detailing" class="unifiednav__item    " target="" data-target-page-alias="rvs-detailing"> <span class="nav-item-text " data-link-text="RVs Detailing" data-auto="page-text-style">RVs Detailing<span class="icon icon-angle-down" data-hidden-on-mobile="" data-hidden-on-desktop="" data-hidden-on-tablet=""></span>
                                          </span>
                                        </a>
                                      </li>
                                    </ul>
                                  </nav>
                                </div>
                              </div>
                              <div id="47fd1300" class="flex-element group" data-auto="flex-element-group">
                                <div id="widget_aot" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="paragraph" data-external-id="1024054089">
                                  <div class="dmNewParagraph" data-element-type="paragraph" data-version="5" id="1024054089" style="">
                                    <p class="m-text-align-center m-size-19 t-size-20 text-align-left size-24"><strong style="color:var(--color_7);font-weight:bold;display:unset;font-family:Raleway, 'Raleway Fallback';" class="m-font-size-19 t-font-size-20 font-size-24">Contact Info</strong></p>
                                  </div>
                                </div>
                                <div id="6b90a366" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="paragraph" data-diy-element="" data-external-id="1614115449">
                                  <div class="u_1614115449 dmNewParagraph" data-element-type="paragraph" data-version="5" id="1614115449" data-binding="W3siYmluZGluZ05hbWUiOiJ0ZXh0IiwidmFsdWUiOiJjb250ZW50X2xpYnJhcnkuZ2xvYmFsLnBob25lLnByaW1hcnkgcGhvbmUifV0=" new-inline-bind-applied="true" data-diy-text="" style="">
                                    <p class="text-align-left t-size-16 m-size-16 size-18 m-text-align-center"><span class="font-size-18 t-font-size-16 m-font-size-16" style="color: rgb(255, 255, 255); display: initial;"><span class="inline-data-binding" data-encoded-value="KDQwNykgODc4LTk5Njc=" data-inline-binding="content_library.global.phone.phone" data-inline-binding-encoded="Y29udGVudF9saWJyYXJ5Lmdsb2JhbC5waG9uZS5waG9uZQ=="><a class="inlineBindingLink" target="_blank" href="tel:(407) 878-9967">(407) 878-9967</a></span></span></p>
                                  </div>
                                </div>
                                <div id="29a98df1" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-diy-element="" data-widget-type="paragraph" data-external-id="1247991414">
                                  <div class="u_1247991414 dmNewParagraph" data-element-type="paragraph" data-version="5" id="1247991414" data-binding="W3siYmluZGluZ05hbWUiOiJ0ZXh0IiwidmFsdWUiOiJjb250ZW50X2xpYnJhcnkuZ2xvYmFsLnBob25lLnByaW1hcnkgcGhvbmUifV0=" new-inline-bind-applied="true" data-diy-text="">
                                    <p class="t-size-16 m-size-16 text-align-left size-18 m-text-align-center"><span class="font-size-18 t-font-size-16 m-font-size-16" style="color: rgb(255, 255, 255); display: initial;"><span class="inline-data-binding" data-encoded-value="YmFuZ2JhbmdhdXRvZGV0YWlsaW5nQGdtYWlsLmNvbQ==" data-inline-binding="content_library.global.email.email" data-inline-binding-encoded="Y29udGVudF9saWJyYXJ5Lmdsb2JhbC5lbWFpbC5lbWFpbA=="><a class="inlineBindingLink" target="_blank" href="mailto:bangbangautodetailing@gmail.com">bangbangautodetailing@gmail.com</a></span></span></p>
                                  </div>
                                </div>
                              </div>
                              <div id="group_b8j" class="flex-element group" data-auto="flex-element-group">
                                <div id="widget_mi5" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="paragraph" data-external-id="1900298088">
                                  <div class="dmNewParagraph" data-element-type="paragraph" data-version="5" id="1900298088" style="">
                                    <p class="text-align-left m-size-19 t-size-20 m-text-align-center size-24"><strong style="color:var(--color_7);font-weight:bold;display:unset;font-family:Raleway, 'Raleway Fallback';" class="m-font-size-19 t-font-size-20 font-size-24">Business Hours</strong></p>
                                  </div>
                                </div>
                                <div id="16ff6318" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="hoursOfOperation" data-external-id="1229542729">
                                  <div class="u_1229542729 default dmHoursOfOperation" id="1229542729" dmle_extension="open_hours" data-element-type="open_hours" data-binding="W3siYmluZGluZ05hbWUiOiJidXNpbmVzc19ob3VycyIsInZhbHVlIjoiY29udGVudF9saWJyYXJ5Lmdsb2JhbC5idXNpbmVzc19ob3VycyJ9XQ==" time_format="12" wr="true" displaytitle="false" lang="en" forcedisplay="false" icon="true" surround="true" adwords="">
                                    <dl class="open-hours-data">
                                      <div class="open-hours-item">
                                        <dt day="0">Mon - Sat</dt>
                                        <dd> <time>9:00 am</time>
                                          - <time>6:00 pm</time>
                                        </dd>
                                      </div>
                                      <div class="open-hours-item">
                                        <dt day="6">Sunday</dt>
                                        <dd>Closed</dd>
                                      </div>
                                    </dl>
                                  </div>
                                </div>
                                <div id="widget_gb6" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="socialhub" data-external-id="1823563271">
                                  <div class="align-center text-align-center u_1823563271 dmSocialHub gapSpacing" id="1823563271" dmle_extension="social_hub" data-element-type="social_hub" wr="true" networks="" icon="true" surround="true" adwords="">
                                    <div class="socialHubWrapper">
                                      <div class="socialHubInnerDiv "> <a href="https://facebook.com/BangBangdetail" target="_blank" dm_dont_rewrite_url="true" aria-label="facebook" onclick="dm_gaq_push_event &amp;&amp; dm_gaq_push_event(&apos;socialLink&apos;, &apos;click&apos;, &apos;Facebook&apos;)"> <span class="dmSocialFacebook dm-social-icons-facebook oneIcon socialHubIcon style5" aria-hidden="true" data-hover-effect=""></span>
                                        </a>
                                        <a href="https://instagram.com/bangbangdetail/" target="_blank" dm_dont_rewrite_url="true" aria-label="instagram" onclick="dm_gaq_push_event &amp;&amp; dm_gaq_push_event(&apos;socialLink&apos;, &apos;click&apos;, &apos;Instagram&apos;)"> <span class="dmSocialInstagram dm-social-icons-instagram oneIcon socialHubIcon style5" aria-hidden="true" data-hover-effect=""></span>
                                        </a>
                                        <a href="https://youtube.com/@bangbangdetail6958" target="_blank" dm_dont_rewrite_url="true" aria-label="youtube" onclick="dm_gaq_push_event &amp;&amp; dm_gaq_push_event(&apos;socialLink&apos;, &apos;click&apos;, &apos;Youtube&apos;)"> <span class="dmSocialYoutube dm-social-icons-youtube oneIcon socialHubIcon style5" aria-hidden="true" data-hover-effect=""></span>
                                        </a>
                                        <a href="https://www.google.com/maps/place/Bang+Bang+Auto+Detailing/@28.591304,-81.3208945,10z/data=!3m1!4b1!4m6!3m5!1s0xa647a3cc9f0eb10d:0xe070d908de665010!8m2!3d28.591304!4d-81.3208945!16s%2Fg%2F11rdz_zck0?entry=ttu&amp;g_ep=EgoyMDI1MDIxMC4wIKXMDSoASAFQAw%3D%3D" target="_blank" dm_dont_rewrite_url="true" aria-label="google_my_business" onclick="dm_gaq_push_event &amp;&amp; dm_gaq_push_event(&apos;socialLink&apos;, &apos;click&apos;, &apos;GoogleMyBusiness&apos;)"> <span class="dmSocialGoogleMyBusiness dm-social-icons-google-my-business oneIcon socialHubIcon style5" aria-hidden="true" data-hover-effect=""></span>
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                      <div data-layout-section="" data-auto="flex-section" id="1112344585" data-flex-id="036a4544">
                        <div class="flex-widgets-container" id="1107387766"></div>
                        <section id="60cec34f" class="flex-element section" data-auto="flex-element-section">
                          <div id="5dac85eb" class="flex-element grid" data-auto="flex-element-grid" data-layout-grid="">
                            <div id="6cef9f03" class="flex-element group" data-auto="flex-element-group">
                              <div id="35daa636" class="flex-element group" data-auto="flex-element-group">
                                <div id="widget_f33" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="custom" data-external-id="1924190849">
                                  <div class="widget-1f5975 u_1924190849 dmCustomWidget" data-lazy-load="" data-title="" id="1924190849" dmle_extension="custom_extension" data-element-type="custom_extension" icon="false" surround="false" data-widget-id="1f5975986930429f819d4cd2154b5c4a" data-widget-version="22" data-widget-config="eyJjb3B5cmlnaHRUZXh0IjoiPHAgY2xhc3M9XCJydGVCbG9ja1wiPkFsbCBSaWdodHMgUmVzZXJ2ZWQgfCDCoEJhbmcgQmFuZyBBdXRvIERldGFpbGluZzwvcD4ifQ==">
                                    <div class="copyright">
                                      <div>&copy; 2025&nbsp;</div>
                                      <div>
                                        <p class="rteBlock">All Rights Reserved | &nbsp;Bang Bang Auto Detailing</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                  <div id="dmFlexStickyContainer" class="flex_hfcontainer">
                    <div id="flex-sticky">
                      <div data-layout-section="" data-auto="flex-section" id="1705405434" data-flex-id="3bc0ec44">
                        <div class="flex-widgets-container" id="1396044743"></div>
                        <section id="5b0b72a8" class="flex-element section" data-auto="flex-element-section" parent-container="flex-sticky">
                          <div id="332b0d7c" class="flex-element grid" data-auto="flex-element-grid" data-layout-grid="">
                            <div id="616cc8c5" class="flex-element group" data-auto="flex-element-group" parent-container="flex-sticky">
                              <div id="d01c6376" class="flex-element group" data-auto="flex-element-group" parent-container="flex-sticky">
                                <div id="89c74eee" class="flex-element inner-grid" data-auto="flex-element-inner-grid" parent-container="flex-sticky">
                                  <div id="widget_flk" class="flex-element widget-wrapper" data-auto="flex-element-widget-wrapper" data-widget-type="graphic" data-keep-proportion="true" data-external-id="1476001242">
                                    <div class="graphicWidget graphicWidgetV2 graphicWidgetV3 u_1476001242" data-element-type="graphic" data-widget-type="graphic" id="1476001242" data-layout="graphic-style-2" data-hover-effect="zoomout"> <a href="/message-us" id="1806190874" link_type="popup" popup_target="message-us" file="false"> <svg width="100%" height="100%" version="1.1" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" id="1101926061" class="svg u_1101926061" data-icon-custom="true">
                                          <path d="m69.68 38.566c1.6992 0 3.0898 1.3867 3.0898 3.0898 0 1.6992-1.3867 3.0898-3.0898 3.0898-1.7109 0-3.0977-1.3867-3.0977-3.0898 0-1.6992 1.3867-3.0898 3.0977-3.0898z"></path>
                                          <path d="m30.32 38.566c1.7109 0 3.0977 1.3867 3.0977 3.0898 0 1.6992-1.3867 3.0898-3.0977 3.0898-1.6992 0-3.0898-1.3867-3.0898-3.0898 0-1.6992 1.3867-3.0898 3.0898-3.0898z"></path>
                                          <path d="m53.09 41.656c0 4.1172-6.1797 4.1172-6.1797 0 0-4.1211 6.1797-4.1211 6.1797 0"></path>
                                          <path d="m98 20.566v41.195c0 6.8984-5.6133 12.512-12.5 12.512h-38.809c-3.7031 0-7.3359 1.2617-10.227 3.5703l-17.008 13.555c-1.1797 0.9375-2.3672 0.42969-2.7031 0.23828-0.33203-0.17578-1.418-0.875-1.2852-2.3789l0.96094-11c0.09375-1.0234-0.26172-2.0469-0.94922-2.7969-0.6875-0.76172-1.6797-1.1914-2.7031-1.1914-5.9492 0-10.777-4.8398-10.777-10.777v-42.926c0-6.8984 5.6133-12.512 12.5-12.512h71c6.8867 0 12.5 5.6133 12.5 12.512zm-21.059 21.09c0-4.0078-3.2539-7.2617-7.2617-7.2617-4.0078 0-7.2734 3.2539-7.2734 7.2617s3.2656 7.2617 7.2734 7.2617c4.0078 0 7.2617-3.2539 7.2617-7.2617zm-19.68 0c0-4.0078-3.2539-7.2617-7.2617-7.2617s-7.2617 3.2539-7.2617 7.2617 3.2539 7.2617 7.2617 7.2617 7.2617-3.2539 7.2617-7.2617zm-19.668 0c0-4.0078-3.2656-7.2617-7.2734-7.2617-4.0078 0-7.2617 3.2539-7.2617 7.2617s3.2539 7.2617 7.2617 7.2617c4.0078 0 7.2734-3.2539 7.2734-7.2617z"></path>
                                        </svg>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  Add full CSS and Javascript before the close tag of the body if needed -->
  <!-- ========= JS Section ========= -->
  <script>
    var isWLR = true;
    window.customWidgetsFunctions = {};
    window.customWidgetsStrings = {};
    window.collections = {};
    window.currentLanguage = "ENGLISH"
    window.isSitePreview = false;
  </script>
  <script>
    window.customWidgetsFunctions["1f5975986930429f819d4cd2154b5c4a~22"] = function (element, data, api) {
      null
    };
  </script>
  <script type="text/javascript">
    var d_version = "production_5315";
    var build = "2025-03-21T13_25_30";
    window['v' + 'ersion'] = d_version;
    function buildEditorParent() {
      window.isMultiScreen = true;
      window.editorParent = {};
      window.previewParent = {};
      window.assetsCacheQueryParam = "?version=2025-03-21T13_25_30";
      try {
        var _p = window.parent;
        if (_p && _p.document && _p.$ && _p.$.dmfw) {
          window.editorParent = _p;
        } else if (_p.isSitePreview) {
          window.previewParent = _p;
        }
      } catch (e) {
      }
    }
    buildEditorParent();
  </script>
  <!-- Injecting site-wide before scripts -->
  <!-- End Injecting site-wide to the head -->
  <script>
    window.cookiesNotificationMarkupPreview = 'null';
  </script>
  <!-- HEAD RT JS Include -->
  <script id='d-js-params'>
    window.INSITE = window.INSITE || {};
    window.INSITE.device = "desktop";
    window.rtCommonProps = {};
    rtCommonProps["rt.ajax.ajaxScriptsFix"] = true;
    rtCommonProps["rt.pushnotifs.sslframe.encoded"] = 'aHR0cHM6Ly97c3ViZG9tYWlufS5wdXNoLW5vdGlmcy5jb20=';
    rtCommonProps["runtimecollector.url"] = 'https://rtc.multiscreensite.com';
    rtCommonProps["performance.tabletPreview.removeScroll"] = 'false';
    rtCommonProps["inlineEditGrid.snap"] = true;
    rtCommonProps["popup.insite.cookie.ttl"] = '0.5';
    rtCommonProps["rt.pushnotifs.force.button"] = true;
    rtCommonProps["common.mapbox.token"] = 'pk.eyJ1IjoiZGFubnliMTIzIiwiYSI6ImNqMGljZ256dzAwMDAycXBkdWxwbDgzeXYifQ.Ck5P-0NKPVKAZ6SH98gxxw';
    rtCommonProps["common.mapbox.js.override"] = false;
    rtCommonProps["common.here.appId"] = 'iYvDjIQ2quyEu0rg0hLo';
    rtCommonProps["common.here.appCode"] = '1hcIxLJcbybmtBYTD9Z1UA';
    rtCommonProps["isCoverage.test"] = false;
    rtCommonProps["ecommerce.ecwid.script"] = 'https://app.multiscreenstore.com/script.js';
    rtCommonProps["feature.flag.mappy.kml"] = false;
    rtCommonProps["common.resources.dist.cdn"] = true;
    rtCommonProps["common.build.dist.folder"] = 'production/5315';
    rtCommonProps["common.resources.cdn.host"] = 'https://static.cdn-website.com';
    rtCommonProps["common.resources.folder"] = 'https://static.cdn-website.com/mnlt/production/5315';
    rtCommonProps["feature.flag.runtime.backgroundSlider.preload.slowly"] = true;
    rtCommonProps["feature.flag.runtime.newAnimation.enabled"] = true;
    rtCommonProps["feature.flag.runtime.newAnimation.respectCssAnimationProps.enabled"] = true;
    rtCommonProps["feature.flag.runtime.newAnimation.jitAnimation.enabled"] = true;
    rtCommonProps["feature.flag.sites.google.analytics.gtag"] = true;
    rtCommonProps["feature.flag.runOnReadyNewTask"] = true;
    rtCommonProps["isAutomation.test"] = false;
    rtCommonProps['common.mapsProvider'] = 'mapbox';
    rtCommonProps['common.mapsProvider.version'] = '0.52.0';
    rtCommonProps['common.geocodeProvider'] = 'mapbox';
    rtCommonProps['common.map.defaults.radiusSize'] = '1500';
    rtCommonProps['common.map.defaults.radiusBg'] = 'rgba(255, 255, 255, 0.4)';
    rtCommonProps['common.map.defaults.strokeColor'] = 'rgba(255, 255, 255, 1)';
    rtCommonProps['common.map.defaults.strokeSize'] = '2';
    rtCommonProps['server.for.resources'] = '';
    rtCommonProps['feature.flag.lazy.widgets'] = true;
    rtCommonProps['feature.flag.single.wow'] = false;
    rtCommonProps['feature.flag.disallowPopupsInEditor'] = true;
    rtCommonProps['feature.flag.mark.anchors'] = true;
    rtCommonProps['captcha.public.key'] = '6LffcBsUAAAAAMU-MYacU-6QHY4iDtUEYv_Ppwlz';
    rtCommonProps['captcha.invisible.public.key'] = '6LeiWB8UAAAAAHYnVJM7_-7ap6bXCUNGiv7bBPME';
    rtCommonProps["images.sizes.small"] = 160;
    rtCommonProps["images.sizes.mobile"] = 640;
    rtCommonProps["images.sizes.tablet"] = 1280;
    rtCommonProps["images.sizes.desktop"] = 1920;
    rtCommonProps["modules.resources.cdn"] = true;
    rtCommonProps["import.images.storage.imageCDN"] = 'https://lirp.cdn-website.com/';
    rtCommonProps["feature.flag.runtime.inp.threshold"] = 150;
    rtCommonProps["feature.flag.performance.logs"] = true;
    rtCommonProps["site.widget.form.captcha.type"] = 'g_recaptcha';
    rtCommonProps["friendly.captcha.site.key"] = 'FCMGSQG9GVNMFS8K';
    rtCommonProps["cookiebot.mapbox.consent.category"] = 'marketing';
    // feature flags that's used out of runtime module (in  legacy files)
    rtCommonProps["platform.monolith.personalization.dateTimeCondition.popupMsgAction.moveToclient.enabled"] = true;
    window.rtFlags = {};
    rtFlags["unsuspendEcwidStoreOnRuntime.enabled"] = true;
    rtFlags["scripts.widgetCount.enabled"] = true;
    rtFlags["ecom.ecwidNewUrlStructure.enabled"] = false;
    rtFlags["ecom.ecwid.storefrontV3.enabled"] = false;
    rtFlags["ecom.ecwid.old.store.fix.facebook.share"] = true;
    rtFlags["feature.flag.photo.gallery.exact.size"] = true;
    rtFlags["geocode.search.localize"] = false;
    rtFlags["feature.flag.runtime.newAnimation.asyncInit.setTimeout.enabled"] = false;
    rtFlags["twitter.heightLimit.enabled"] = true;
    rtFlags["editor.classicHybrid.photogallery.fix"] = true;
    rtFlags["runtime.lottieOverflow"] = false;
    rtFlags["runtime.monitoring.sentry.ignoreErrors"] = "";
    rtFlags["contact.form.browserValidation.enabled"] = true;
    rtFlags["feature.flag.notifications.push.from.top"] = true;
    rtFlags["streamline.monolith.personalization.supportMultipleConditions.enabled"] = false;
    rtFlags["runtime.cwv.report.cls.enabled"] = true;
    rtFlags["flex.runtime.popup.with.show"] = true;
    rtFlags["contact.form.useActiveForm"] = true;
    rtFlags["runtime.ssr.productStore.internal.observer"] = true;
  </script>
  <script src="https://static.cdn-website.com/mnlt/production/5315/_dm/s/rt/dist/scripts/d-js-runtime-flex-package.min.js" id="d-js-core" defer></script>
  <!-- End of HEAD RT JS Include -->
  <script>
    document.addEventListener('DOMContentLoaded', () =>
      window.runtime.initLayout()
    );
  </script>
  <script type="text/javascript" id="d_track_campaign">
    (function () {
      if (!window.location.search) {
        return;
      }
      const cleanParams = window.location.search.substring(1); // Strip ?
      const queryParams = cleanParams.split('&');
      const expires = 'expires=' + new Date().getTime() + 24 * 60 * 60 * 1000;
      const domain = 'domain=' + window.location.hostname;
      const path = "path=/";
      queryParams.forEach((param) => {
        const [key, value = ''] = param.split('=');
        if (key.startsWith('utm_')) {
          const cookieName = "_dm_rt_" + key.substring(4);
          const cookie = cookieName + "=" + value;
          const joined = [cookie, expires, domain, path].join(";");
          document.cookie = joined;
        }
      });
    }());
  </script>
  <script type="text/javascript">
    var _dm_gaq = {};
    var _gaq = _gaq || [];
    var _dm_insite = [];
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-WZSLCXGGFC"></script>
  <script type="text/javascript" id="d_track_ga">
    _dm_gaq.siteAlias = 'd9511e89';
    _dm_gaq.systemAggregatedGaqID = '';
    _dm_gaq.externalGaqID = 'G-WZSLCXGGFC';
    _dm_gaq.gaAggregatedEventAttributes = {
      'site_alias': _dm_gaq.siteAlias,
      'product': 'DM_DIRECT',
      'plan': 'BUSINESS_PLUS',
      'dfooter': 'false',
      'sitetype': '1',
      'pwaEnabled': 'true'
    }
    _dm_gaq.pushEvent = function (trackingId, event, category, label, value, additionalParams = {}) {
      const eventProps = {
        send_to: trackingId,
        event_category: category,
        event_label: label,
        value,
        ...additionalParams,
        ...(trackingId === _dm_gaq.systemAggregatedGaqID
          ? _dm_gaq.gaAggregatedEventAttributes : {})
      };
      gtag('event', event, eventProps);
    }
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    function pushInsiteImpressions(id) {
      _dm_insite.forEach((rule) => {
        _dm_gaq.pushEvent(id, 'insite_impression', 'insite', rule.ruleType + '__' + rule.ruleId);
      });
    }
    if (_dm_gaq.systemAggregatedGaqID) {
      // track aggregated account
      gtag('config', '', {
        'send_page_view': false,
        'anonymize_ip': true,
        'transport_type': 'beacon',
        'custom_map': { 'dimension1': 'site_alias', 'dimension2': 'product', 'dimension3': 'dFooter', 'dimension4': 'sitetype' }
      });
      gtag('set', 'developer_id.dMDU5Nj', true);
      _dm_gaq.pushEvent('', 'page_view');
      pushInsiteImpressions(_dm_gaq.systemAggregatedGaqID);
    }
    if (_dm_gaq.externalGaqID && _dm_gaq.externalGaqID != '') {
      gtag('config', 'G-WZSLCXGGFC', {
        'send_page_view': false,
        'anonymize_ip': true,
        'transport_type': 'beacon',
        'linker': {
          'domains': ['bangbangautodetailing.com']
        }
      });
      _dm_gaq.pushEvent('G-WZSLCXGGFC', 'page_view');
      pushInsiteImpressions(_dm_gaq.externalGaqID);
    }
  </script>
  <script type="text/javascript" id="d_track_sp">
    ; (function (p, l, o, w, i, n, g) {
      if (!p[i]) {
        p.GlobalSnowplowNamespace = p.GlobalSnowplowNamespace || [];
        p.GlobalSnowplowNamespace.push(i); p[i] = function () {
          (p[i].q = p[i].q || []).push(arguments)
        }; p[i].q = p[i].q || []; n = l.createElement(o); g = l.getElementsByTagName(o)[0]; n.async = 1;
        n.src = w; g.parentNode.insertBefore(n, g)
      }
    }(window, document, "script", "//d32hwlnfiv2gyn.cloudfront.net/sp-2.0.0-dm-0.1.min.js", "snowplow"));
    window.dmsnowplow = window.snowplow;
    dmsnowplow('newTracker', 'cf', 'd32hwlnfiv2gyn.cloudfront.net', { // Initialise a tracker
      appId: 'd9511e89'
    });
    // snowplow queries element styles so we wait until CSS calculations are done.
    requestAnimationFrame(() => {
      dmsnowplow('trackPageView');
      _dm_insite.forEach((rule) => {
        // Specifically in popup only the client knows if it is shown or not so we don't always want to track its impression here
        // the tracking is in popup.js
        if (rule.actionName !== "popup") {
          dmsnowplow('trackStructEvent', 'insite', 'impression', rule.ruleType, rule.ruleId);
        }
        window?.waitForDeferred?.('dmAjax', () => {
          $.DM.events.trigger('event-ruleTriggered', { value: rule });
        });
      });
    });
  </script>
  <div style="display:none;" id="P6iryBW0Wu"></div>
  <!-- photoswipe markup -->
  <!-- Root element of PhotoSwipe. Must have class pswp. -->
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>
    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">
      <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>
      <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <!--  Controls are self-explanatory. Order can be changed. -->
          <div class="pswp__counter"></div>
          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
          <button class="pswp__button pswp__button--share" title="Share"></button>
          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
          <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
          <!-- element will get class pswp__preloader--active when preloader is running -->
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div>
        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
        </button>
        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
        </button>
        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="fb-root" data-locale="en"></div>
  <!-- Alias: d9511e89 -->
  <script id="d_track_personalization">
    window?.waitForDeferred?.('dmAjax', () => {
      // Collects client data and updates cookies used by smart sites
      window.expireDays = 365;
      window.visitLength = 30 * 60000;
      $.setCookie("dm_timezone_offset", (new Date()).getTimezoneOffset(), window.expireDays);
      setSmartSiteCookiesInternal("dm_this_page_view", "dm_last_page_view", "dm_total_visits", "dm_last_visit");
    });
  </script>
  <script type="text/javascript">
    Parameters.NavigationAreaParams.MoreButtonText = 'MORE';
    Parameters.NavigationAreaParams.LessButtonText = 'LESS';
    Parameters.HomeLinkText = 'Home';
  </script>
  <!--  End Script tags -->
  <!--  Site Wide Html Markup -->
  <!--  Site Wide Html Markup -->
</body>

</html>
