---
layout: default
---

<section class="hero section--dark">
  <div class="container text-center">
    <p><span class="pill-green"><img src="/assets/img/search-55w.png" alt="" width="24" height="24"> Bang Bang Auto Detailing</span></p>
    <h1 class="hero__title">{{ hero_title | default: title }}</h1>
  </div>
</section>

{{ content }}
